<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.jboss.tools.smooks.ui.analyzer">
      <mappingAnalyzer
            class="org.jboss.tools.smooks.xml2java.analyzer.XML2JavaAnalyzer"
            name="XML2Java"
            typeID="org.jboss.tools.smooks.xml.viewerInitor.xml">
         <targetSourceType
               id="org.jboss.tools.smooks.ui.viewerInitor.javabean"
               name="JavaBean">
         </targetSourceType>
      </mappingAnalyzer>
   </extension>

</plugin>
