<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.jboss.ide.eclipse.jdt.aop.ui"
   name="%plugin.name"
   version="1.1.0"
   provider-name="%plugin.provider"
   class="org.jboss.ide.eclipse.jdt.aop.ui.AopUiPlugin">

   <runtime>
      <library name="org-jboss-ide-eclipse-jdt-aop-ui.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.jboss.ide.eclipse.jdt.aop.core"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.jdt.debug"/>
      <import plugin="org.eclipse.jdt.debug.ui"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.eclipse.ui.intro"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
   </requires>


   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.IJavaElement"
            id="org.jboss.ide.eclipse.jdt.aop.ui.actions">
         <menu
               label="JBoss AOP"
               id="org.jboss.ide.eclipse.jdt.aop.ui.actions.menu">
            <separator
                  name="group">
            </separator>
            <separator name="group2"/>
         </menu>
         <action
               enablesFor="+"
               label="Apply Interceptor(s)..."
               icon="icons/interceptor.gif"
               class="org.jboss.ide.eclipse.jdt.aop.ui.actions.ApplyInterceptorAction"
               menubarPath="org.jboss.ide.eclipse.jdt.aop.ui.actions.menu/group"
               id="org.jboss.ide.eclipse.jdt.aop.ui.actions.ApplyInterceptorAction">
         </action>
         <action
               enablesFor="+"
               label="Apply Advice..."
               icon="icons/advice.gif"
               class="org.jboss.ide.eclipse.jdt.aop.ui.actions.ApplyAdviceAction"
               menubarPath="org.jboss.ide.eclipse.jdt.aop.ui.actions.menu/group"
               id="org.jboss.ide.eclipse.jdt.aop.ui.actions.ApplyAdviceAction">
         </action>
         <action
               enablesFor="1"
               label="Convert to Pointcut..."
               icon="icons/pointcut.gif"
               class="org.jboss.ide.eclipse.jdt.aop.ui.actions.ConvertToPointcutAction"
               menubarPath="org.jboss.ide.eclipse.jdt.aop.ui.actions.menu/group2"
               id="org.jboss.ide.eclipse.jdt.aop.ui.actions.ConvertToPointcutAction"/>
         <visibility>
            <or>
	            <objectClass name="org.eclipse.jdt.core.IMethod"/>
	            <objectClass name="org.eclipse.jdt.core.IField"/>
            </or>            
         </visibility>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="org.jboss.ide.eclipse.jdt.aop.ui.projectNatureMenuContribution">
         <action
               label="Convert to AOP Project..."
               class="org.jboss.ide.eclipse.jdt.aop.ui.actions.AddAopNatureAction"
               enablesFor="1"
               id="org.jboss.ide.eclipse.jdt.aop.ui.actions.AddAopNatureAction">
         </action>
         <visibility>
            <not>
               <objectState
                     name="nature"
                     value="org.jboss.ide.eclipse.jdt.aop.core.AopProjectNature"/>
            </not>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="JBoss AOP"
            id="org.jboss.ide.eclipse.jdt.aop.ui.jbossAopCategory">
      </category>
      <view
            icon="icons/aspect-manager-view.gif"
            class="org.jboss.ide.eclipse.jdt.aop.ui.views.AspectManagerView"
            category="org.jboss.ide.eclipse.jdt.aop.ui.jbossAopCategory"
            name="Aspect Manager"
            id="org.jboss.ide.eclipse.jdt.aop.ui.views.AspectManagerView"/>
      <view
            icon="icons/pointcut.gif"
            class="org.jboss.ide.eclipse.jdt.aop.ui.views.AdvisedMembersView"
            category="org.jboss.ide.eclipse.jdt.aop.ui.jbossAopCategory"
            name="Advised Members"
            id="org.jboss.ide.eclipse.jdt.aop.ui.views.AdvisedMembersView"/>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.jboss.ide.eclipse.jdt.aop.ui.launch.AopLaunchDelegate"
            public="true"
            name="JBoss AOP Application"
            modes="run,debug"
            id="org.jboss.ide.eclipse.jdt.aop.ui.AopLaunchConfiguration"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/launchicon.gif"
            configTypeID="org.jboss.ide.eclipse.jdt.aop.ui.AopLaunchConfiguration"
            id="org.jboss.ide.eclipse.jdt.aop.ui.launchImage"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="org.jboss.ide.eclipse.jdt.aop.ui.AopLaunchConfiguration"
            class="org.jboss.ide.eclipse.jdt.aop.ui.launch.AopLaunchTabGroup"
            id="org.jboss.ide.eclipse.jdt.aop.ui.launchTabGroup"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchGroups">
      <launchGroup
            label="Run"
            mode="run"
            image="icons/launchicon.gif"
            id="org.jboss.ide.eclipse.jdt.aop.ui.launchGroupRun"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            icon="icons/jcu_obj.gif"
            class="org.jboss.ide.eclipse.jdt.aop.ui.editors.AopJavaEditor"
            default="true"
            name="JBoss AOP Java Editor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            id="org.jboss.ide.eclipse.jdt.aop.ui.editors.AopJavaEditor"
            extensions="java"/>
   </extension>
   <extension
         id="advisedmarker"
         name="Advised Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="false"/>
   </extension>
   <extension
         id="advicemarker"
         name="Advice Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="false"/>
   </extension>
   <extension
         id="interceptormarker"
         name="Interceptor Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="false"/>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.jboss.ide.eclipse.jdt.aop.ui.AopMarkerResolutionGenerator"
            markerType="org.jboss.ide.eclipse.jdt.aop.ui.advisedmarker"/>
      <markerResolutionGenerator
            class="org.jboss.ide.eclipse.jdt.aop.ui.AopMarkerResolutionGenerator"
            markerType="org.jboss.ide.eclipse.jdt.aop.ui.advicemarker"/>
      <markerResolutionGenerator
            class="org.jboss.ide.eclipse.jdt.aop.ui.AopMarkerResolutionGenerator"
            markerType="org.jboss.ide.eclipse.jdt.aop.ui.interceptormarker"/>
      <markerResolutionGenerator
            class="org.jboss.ide.eclipse.jdt.aop.ui.AopMarkerResolutionGenerator"
            markerType="org.jboss.ide.eclipse.jdt.aop.ui.typedefmarker"/>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerImageProviders">
      <imageprovider
            markertype="org.jboss.ide.eclipse.jdt.aop.ui.advisedmarker"
            icon="icons/advised-marker.gif"
            id="org.jboss.ide.eclipse.jdt.aop.ui.advisedMarkerImageProvider"/>
      <imageprovider
            icon="icons/typedef-marker.gif"
            id="org.jboss.ide.eclipse.jdt.aop.ui.typedefMarkerImageProvider"
            markertype="org.jboss.ide.eclipse.jdt.aop.ui.typedefmarker"/>
         
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="org.jboss.ide.eclipse.jdt.aop.ui.wizards.NewAopProjectWizard"
            icon="icons/newproject.gif"
            category="org.jboss.ide.eclipse.jdt.aop.ui.wizards.category.jbossAop"
            project="true"
            name="JBossAOP Project"
            id="org.jboss.ide.eclipse.jdt.aop.ui.NewAopProjectWizard"/>
      <category
            name="JBossAOP"
            id="org.jboss.ide.eclipse.jdt.aop.ui.wizards.category.jbossAop"/>
      <wizard
            icon="icons/newbinding.gif"
            class="org.jboss.ide.eclipse.jdt.aop.ui.wizards.EditBindingWizard"
            category="org.jboss.ide.eclipse.jdt.aop.ui.wizards.category.jbossAop"
            project="false"
            name="JBossAOP Binding"
            id="org.jboss.ide.eclipse.jdt.aop.ui.NewBindingWizard"/>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerImageProviders">
      <imageprovider
            markertype="org.jboss.ide.eclipse.jdt.aop.ui.advicemarker"
            icon="icons/advice-marker.gif"
            id="org.jboss.ide.eclipse.jdt.aop.ui.adviceMarkerImageProvider"/>
      <imageprovider
            markertype="org.jboss.ide.eclipse.jdt.aop.ui.interceptormarker"
            icon="icons/interceptor-marker.gif"
            id="org.jboss.ide.eclipse.jdt.aop.ui.interceptorMarkerImageProvider"/>
   </extension>
   <extension
         id="typedefmarker"
         name="Typedef Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="false"/>
   </extension>

</plugin>
