<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.jboss.tools.vpe.mozilla.view"
            name="VPE Tests"/>
      <view
            category="org.jboss.tools.vpe.mozilla.view"
            class="org.jboss.tools.vpe.mozilla.view.MozillaView"
            id="org.jboss.tools.vpe.mozilla.view.MozillaView"
            name="Mozilla View"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="org.jboss.tools.vpe.mozilla.view.MozillaView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList" />
      </perspectiveExtension>
   </extension>
</plugin>
