<!-- 
added to fix build error. 
running with regular hudson maven fails with error resolving

maven-jdocbook-plugin 2.1.0-200803311251UTC-MPJDOCBOOK-8

 -->

<settings>
  <proxies>
  </proxies>
  <servers>
  </servers>
  <mirrors>
  </mirrors>
  <profiles>
  <profile>
   <id>jboss</id>
   <repositories>
      <repository>
         <id>java.net</id>
         <url>http://download.java.net/maven/1</url>
         <layout>legacy</layout>
      </repository>
      <repository>
         <releases>
            <enabled>true</enabled>
         </releases>
         <snapshots>
            <enabled>false</enabled>
            <updatePolicy>never</updatePolicy>
         </snapshots>
         <id>repository.jboss.com</id>
         <name>Jboss Repository for Maven</name>
         <url>
            http://repository.jboss.com/maven2/
         </url>
         <layout>default</layout>
      </repository>
      <repository>
         <releases>
            <enabled>true</enabled>
         </releases>
         <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
         </snapshots>
         <id>snapshots.jboss.org</id>
         <name>Jboss Repository for Maven</name>
         <url>
            http://snapshots.jboss.org/maven2/
         </url>
         <layout>default</layout>
      </repository>
      <repository>
        <id>java.net</id>
        <url>https://maven-repository.dev.java.net/nonav/repository</url>
        <layout>legacy</layout>
      </repository>
   </repositories>
 <pluginRepositories>
   <pluginRepository>
         <releases>
            <enabled>true</enabled>
         </releases>
         <snapshots>
            <enabled>false</enabled>
            <updatePolicy>never</updatePolicy>
         </snapshots>
         <id>repository.jboss.com</id>
         <name>Jboss Repository for Maven</name>
         <url>
            http://repository.jboss.com/maven2/
         </url>
         <layout>default</layout>
   </pluginRepository>
   <pluginRepository>
         <releases>
            <enabled>false</enabled>
         </releases>
         <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
         </snapshots>
         <id>snapshots.jboss.org</id>
         <name>Jboss Repository for Maven</name>
         <url>
            http://snapshots.jboss.org/maven2/
         </url>
         <layout>default</layout>
   </pluginRepository>
 </pluginRepositories>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>jboss</activeProfile>
  </activeProfiles>

</settings>
