<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.wst.common.project.facet.core.facets">
      
      <project-facet id="jboss.portlet">
    	<label>JBoss Portlet</label>
    	<description>
      		Adds support for the Java Portlet API.
    	</description>
    	<default-version version="2.0"/>
  	  </project-facet>
  	  
  	  <project-facet-version facet="jboss.portlet" version="1.0">
      	<constraint>
        	<and>
          		<requires facet="jst.java" version="[5.0"/>
          		<requires facet="jst.web" version="[2.3"/>
        	</and>
      	</constraint>
      </project-facet-version>
      
      <project-facet-version facet="jboss.portlet" version="2.0">
      	<constraint>
        	<and>
          		<requires facet="jst.java" version="[5.0"/>
          		<requires facet="jst.web" version="[2.5"/>
        	</and>
      	</constraint>
      </project-facet-version>
      
      <action id="jboss.portlet.install" facet="jboss.portlet" type="INSTALL" version="[1.0">
      	<delegate class="org.jboss.tools.portlet.core.internal.project.facet.PortletFacetInstallDelegate"/>
        <config-factory class="org.jboss.tools.portlet.core.internal.project.facet.PortletFacetInstallDataModelProvider"/>
      </action>  
      
      <action id="jboss.portlet.uninstall" facet="jboss.portlet" type="UNINSTALL" version="[1.0" >
	 	<delegate class="org.jboss.tools.portlet.core.internal.project.facet.PortletFacetUninstallDelegate"/>
 	  </action>
      
   </extension>

   <extension
        point="org.eclipse.wst.common.project.facet.core.presets">
     <static-preset id="preset.jboss.portlet.v20">
	    <label>Portlet Project v2.0</label>
	    <facet id="jst.java" version="5.0" />
	    <facet id="jst.web" version="2.5"/>
	    <facet id="jboss.portlet" version="2.0" />
        <description>Portlet Project v2.0</description>
     </static-preset>
   </extension>
   
   <extension
        point="org.eclipse.wst.common.project.facet.core.presets">
     <dynamic-preset id="preset.jboss.portlet.v10">
       <factory class="org.jboss.tools.portlet.core.internal.project.facet.PortletConfigurationPresetFactory10"/>
     </dynamic-preset>
   </extension>
   
   <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    	<supported>
			<runtime-component any="true"/>
        		<facet id="jboss.portlet" version="1.0,2.0"/> 
    	</supported>
   </extension>
    
   <extension
        point="org.eclipse.wst.common.project.facet.core.listeners">
     <listener
           class="org.jboss.tools.portlet.core.internal.project.facet.PortletFacetPrimaryRuntimeChangedListener"
           eventTypes="PRIMARY_RUNTIME_CHANGED">
     </listener>
   </extension>
   
   <extension point="org.eclipse.jdt.core.classpathContainerInitializer">
     <classpathContainerInitializer class="org.jboss.tools.portlet.core.internal.Portlet10LibrariesContainerInitializer"
      id="org.jboss.tools.portlet.core.internal.portletlibrarycontainer.v10"/>
   </extension>
   <extension point="org.eclipse.jdt.core.classpathContainerInitializer">
     <classpathContainerInitializer class="org.jboss.tools.portlet.core.internal.Portlet20LibrariesContainerInitializer"
      id="org.jboss.tools.portlet.core.internal.portletlibrarycontainer.v20"/>
   </extension>
  
   <extension point="org.eclipse.wst.xml.core.catalogContributions">
        <catalogContribution id="default">
            <public
                publicId="-//JBoss Portal//DTD Portlet Instances 2.6//EN"
                uri="dtdsAndSchemas/portlet-instances_2_6.dtd"
                webURL="http://www.jboss.org/portal/dtd/portlet-instances_2_6.dtd" />
            <public
                publicId="-//JBoss Portal//DTD Portal Object 2.6//EN"
                uri="dtdsAndSchemas/portal-object_2_6.dtd"
                webURL="http://www.jboss.org/portal/dtd/portal-object_2_6.dtd" />
            <public
                publicId="-//JBoss Portal//DTD JBoss Portlet 2.6//EN"
                uri="dtdsAndSchemas/jboss-portlet_2_6.dtd"
                webURL="http://www.jboss.org/portal/dtd/jboss-portlet_2_6.dtd" />
            
            <uri
                name="http://java.sun.com/xml/ns/portlet/portlet-app_1_0.xsd"
                uri="dtdsAndSchemas/portlet-app_1_0.xsd" />
            
            <uri
                name="http://java.sun.com/xml/ns/portlet/portlet-app_2_0.xsd"
                uri="dtdsAndSchemas/portlet-app_2_0.xsd" />
        </catalogContribution>

    </extension>
</plugin>
