<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.jboss.ide.eclipse.ejb3.wizards.core"
   name="EJB3 Wizards Core Plugin"
   version="1.0.0.beta2"
   provider-name="JBoss Inc."
   class="org.jboss.ide.eclipse.ejb3.wizards.core.EJB3WizardsCorePlugin">

   <runtime>
      <library name="ejb3-wizards-core.jar">
         <export name="*"/>
      </library>
      <library name="jboss-ejb3.jar">
         <export name="*"/>
      </library>
      <library name="jboss-ejb3x.jar">
         <export name="*"/>
      </library>
      <library name="jboss-remoting.jar">
         <export name="*"/>
      </library>
      <library name="jbosssx-client.jar">
         <export name="*"/>
      </library>
      <library name="jboss-transaction-client.jar">
         <export name="*"/>
      </library>
      <library name="jnp-client.jar">
         <export name="*"/>
      </library>
      <library name="jboss-j2ee.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.jdt"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.jboss.ide.eclipse.jdt.aop.core"/>
      <import plugin="org.jboss.ide.eclipse.launcher.core"/>
      <import plugin="org.eclipse.debug.core"/>
   </requires>
   <extension
         id="EJB3ProjectNature"
         name="EJB3 Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.jboss.ide.eclipse.ejb3.wizards.core.project.EJB3ProjectNature"/>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.jboss.ide.eclipse.ejb3.wizards.core.classpath.EJB3ClasspathContainerInitializer"
            id="org.jboss.ide.eclipse.jdt.ejb3.wizards.core.classpath.EJB3_CONTAINER"/>
   </extension>

</plugin>
