<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.jboss.tools.workingset.internal.ui.WorkingsetPreferencePage"
            id="org.jboss.tools.workingsets.internal.ui.preferences.WorkingsetPreferencePage"
            name="Automatic WorkingSets">
      </page>
   </extension>  
</plugin>
