<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.jboss.ide.eclipse.packaging.ui"
   name="%plugin.name"
   version="1.5.0"
   provider-name="%plugin.provider"
   class="org.jboss.ide.eclipse.packaging.ui.PackagingUIPlugin">

   <runtime>
      <library name="org-jboss-ide-eclipse-packaging-ui.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.apache.ant"/>
      <import plugin="org.eclipse.ant.core"/>
      <import plugin="org.eclipse.ant.ui"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.jdt"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.externaltools"/>
      <import plugin="org.jboss.ide.eclipse.core"/>
      <import plugin="org.jboss.ide.eclipse.packaging.core"/>
      <import plugin="org.jboss.ide.eclipse.ui"/>
      <import plugin="org.eclipse.jdt.ui"/>
   </requires>

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            objectClass="org.eclipse.jdt.core.IJavaProject"
            name="%org.jboss.ide.eclipse.packaging.ui.properties.PackagingPropertyPage"
            class="org.jboss.ide.eclipse.packaging.ui.properties.PackagingPropertyPage"
            id="org.jboss.ide.eclipse.packaging.ui.properties.PackagingPropertyPage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="%org.jboss.ide.eclipse.packaging.ui.commands.PackagingRunAction"
            categoryId="org.eclipse.ui.category.project"
            id="org.jboss.ide.eclipse.packaging.ui.commands.PackagingRunAction">
      </command>
      <keyBinding
            commandId="org.jboss.ide.eclipse.packaging.ui.commands.PackagingRunAction"
            keySequence="Shift+Ctrl+F2"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%org.jboss.ide.eclipse.packaging.ui.actions.Packaging"
            visible="true"
            id="org.jboss.ide.eclipse.packaging.ui.actions.Packaging">
         <action
               definitionId="org.jboss.ide.eclipse.packaging.ui.commands.PackagingRunAction"
               label="%org.jboss.ide.eclipse.packaging.ui.actions.PackagingRunAction"
               icon="icons/full/obj16/run.gif"
               tooltip="Run Packaging on current Project"
               class="org.jboss.ide.eclipse.packaging.ui.actions.PackagingRunAction"
               menubarPath="project/additions"
               id="org.jboss.ide.eclipse.packaging.ui.actions.PackagingRunAction">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            id="org.jboss.ide.eclipse.packaging.ui.popup.Packaging">
         <action
               definitionId="org.jboss.ide.eclipse.packaging.ui.commands.PackagingRunAction"
               label="%org.jboss.ide.eclipse.packaging.ui.popup.PackagingRunAction"
               icon="icons/full/obj16/run.gif"
               class="org.jboss.ide.eclipse.packaging.ui.actions.PackagingRunAction"
               menubarPath="group.build"
               enablesFor="1"
               id="org.jboss.ide.eclipse.packaging.ui.popup.PackagingRunAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
