<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="templates" name="Path to xml file with templates definitionj" schema="schema/templates.exsd"/>

	<extension point="org.eclipse.ui.startup" />
	
   <extension point="org.jboss.tools.common.model.meta">
      <meta path="meta/vpe.meta"/>
   </extension>

   <extension point="org.jboss.tools.common.model.keys">
      <keys path="help/keys-vpe.properties"/>
   </extension>
   <!-- extension
         point="org.jboss.tools.vpe.templates">
      <templates
            name="JSF Reference Implementation"
            path="templates/vpe-templates-jsf.xml"/>
   </extension -->
   <extension
         point="org.jboss.tools.common.model.resourceMapping">
      <mapping
          loader="org.jboss.tools.vpe"
          priority="1"
          kind="class"
          paths=".vpe."
      />
   </extension>
	<extension point="org.eclipse.ui.preferencePages">
      <page category="org.jboss.tools.common.xstudio.editors" class="org.jboss.tools.vpe.editor.preferences.VpeEditorPreferencesPage" id="org.jboss.tools.vpe.editor" name="Visual Page Editor"></page>
      <page
            category="org.jboss.tools.common.model.ui"
            class="org.jboss.tools.vpe.editor.preferences.ELVariablesPreferencePage"
            id="org.jboss.tools.common.xstudio.elvariables"
            name="El Variables">
      </page>
   	</extension>
   	<extension
       	point="org.eclipse.ui.contexts">
    	<context
          description="%vpe.editor.binding.context.description"
          id="org.jboss.tools.vpe.editorContext"
          name="%editor.binding.context.name"
          parentId="org.eclipse.ui.textEditorScope">
    	</context>
    </extension>
    <extension id="org.jboss.tools.vpe.commands" point="org.eclipse.ui.commands">
		<category id="org.jboss.tools.vpe.category" name="%vpe.category"/>
		<command categoryId="org.jboss.tools.vpe.category"
			id="org.jboss.tools.vpe.source.maxmin"
			name="%source.maxmin"/>
		<command categoryId="org.jboss.tools.vpe.category"
			id="org.jboss.tools.vpe.visual.maxmin"
			name="%visual.maxmin"/>
		<command categoryId="org.jboss.tools.vpe.category"
			id="org.jboss.tools.vpe.jumping"
			name="%visual.jumping"/>
	</extension>
 	<extension point="org.eclipse.ui.bindings">
		<key commandId="org.jboss.tools.vpe.source.maxmin"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.jboss.tools.vpe.editorContext"
			sequence="M2+F6"/>
		<key commandId="org.jboss.tools.vpe.visual.maxmin"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.jboss.tools.vpe.editorContext"
			sequence="M2+M3+F6"/>
		<key commandId="org.jboss.tools.vpe.jumping"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.jboss.tools.vpe.editorContext"
			sequence="M1+M2+Tab"/>
	</extension>
</plugin>
