<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>
		<title>JBoss Eclipse IDE Build Results</title>
		<link rel="stylesheet" type="text/css" href="buildResults.css"/>
	</head>
<body>
<div id="header">
	<table width="100%" height="100%">
	<tr>
		<td width="50%">
			<span id="title">JBoss Eclipse IDE Build</span><br/>
			<span id="buildName">%build-type% build %jbosside-build-name%</span>
		</td>
		<td width="50%" align="right">
			<span id="buildDate">%date%</span><br/>
			<span id="buildExecTime">%build-time%</span><br/>
			<a id="buildLog" href="%jbosside-download-root%/build.log.zip">Download Build Log (zip)</a>
		</td>
	</tr>
	</table>
</div>

<div id="downloads">
	<table id="links" width="100%">
	<tr>
	<td>
		<a href="http://www.jboss.com/products/jbosside">JBoss Eclipse IDE</a> |
		<a href="http://tools.hibernate.org">Hibernate Tools</a> |
		<a href="http://www.jboss.com/index.html?module=bb&op=viewforum&f=201">User Forum</a> |
		<a href="http://jboss.com/index.html?module=bb&op=viewforum&f=162">Development Forum</a> |
		<a href="http://jira.jboss.com/jira/secure/BrowseProject.jspa?id=10020">JIRA / Bugs</a> |
		#jbosside on irc.freenode.net
	</td>
	<td aligh="right">
		<a href="http://www.jboss.org"/><img src="images/jboss.gif" border="0"/></a>
		<a herf="http://www.hibernate.org"/><img src="images/hibernate.gif" border="0"/></a>
		<a href="http://www.eclipse.org"/><img src="images/eclipse.gif" border="0"/></a>
	</td>
	</tr>
	</table>

<div id="downloadLinks">

<table>

%bundle-information%

<tr><td colspan="2"><h1>All plugins:</h1></td></tr>
<tr>
	<!-- ALL plugins -->
	<td><img src="images/%jbosside-all-status%.png"/></td>
	<td class="downloadInfo">
		<a id="allLink" href="%jbosside-download-root%/all/%jbosside-all-filename%">%jbosside-all-filename%</a><br/>
		&nbsp;&nbsp;&nbsp;&nbsp;<a class="md5" href="%jbosside-download-root%/all/%jbosside-all-filename%.MD5">md5</a> | filesize: %all-file-size% bytes
	</td>
</tr>
<tr><td colspan="2"><h1>Standalone plugins:</h1></td></tr>
<tr>
	<!-- Core -->
	<td><img src="images/%jbosside-core-status%-small.png"/></td>
	<td class="downloadInfo">
		<a class="pluginLink" href="%jbosside-download-root%/core/%jbosside-core-filename%">%jbosside-core-filename%</a><br/>
		&nbsp;&nbsp;&nbsp;&nbsp;<a class="md5" href="%jbosside-download-root%/core/%jbosside-core-filename%.MD5">md5</a> | filesize: %core-file-size% bytes
	</td>
</tr>
<tr>
	<!-- JBossAS Tools -->
	<td><img src="images/%jbosside-as-status%-small.png"/></td>
	<td class="downloadInfo">
		<a class="pluginLink" href="%jbosside-download-root%/as/%jbosside-as-filename%">%jbosside-as-filename%</a><br/>
		&nbsp;&nbsp;&nbsp;&nbsp;<a class="md5" href="%jbosside-download-root%/as/%jbosside-as-filename%.MD5">md5</a> | filesize: %as-file-size% bytes
	</td>
</tr>
<tr>
	<!-- Hibernate Tools -->
	<td><img src="images/%jbosside-hibernate-tools-status%-small.png"/></td>
	<td class="downloadInfo">
		<a class="pluginLink" href="%jbosside-download-root%/hibernate-tools/%jbosside-hibernate-tools-filename%">%jbosside-hibernate-tools-filename%</a><br/>
		&nbsp;&nbsp;&nbsp;&nbsp;<a class="md5" href="%jbosside-download-root%/hibernate-tools/%jbosside-hibernate-tools-filename%.MD5">md5</a> | filesize: %hibernate-tools-file-size% bytes
	</td>
</tr>
<tr>
	<!-- jBPM Designer -->
	<td><img src="images/%jbosside-jbpm-status%-small.png"/></td>
	<td class="downloadInfo">
		<a class="pluginLink" href="%jbosside-download-root%/jbpm/%jbosside-jbpm-filename%">%jbosside-jbpm-filename%</a><br/>
		&nbsp;&nbsp;&nbsp;&nbsp;<a class="md5" href="%jbosside-download-root%/jbpm/%jbosside-jbpm-filename%.MD5">md5</a> | filesize: %jbpm-file-size% bytes
	</td>
</tr>
<tr>
	<!-- EJB3 Tools -->
	<td><img src="images/%jbosside-ejb3-status%-small.png"/></td>
	<td class="downloadInfo">
		<a class="pluginLink" href="%jbosside-download-root%/ejb3/%jbosside-ejb3-filename%">%jbosside-ejb3-filename%</a><br/>
		&nbsp;&nbsp;&nbsp;&nbsp;<a class="md5" href="%jbosside-download-root%/ejb3/%jbosside-ejb3-filename%.MD5">md5</a> | filesize: %ejb3-file-size% bytes
	</td>
</tr>
<tr>
	<!-- AOP Developer -->
	<td><img src="images/%jbosside-aop-status%-small.png"/></td>
	<td class="downloadInfo">
		<a class="pluginLink" href="%jbosside-download-root%/aop/%jbosside-aop-filename%">%jbosside-aop-filename%</a><br/>
		&nbsp;&nbsp;&nbsp;&nbsp;<a class="md5" href="%jbosside-download-root%/aop/%jbosside-aop-filename%.MD5">md5</a> | filesize: %aop-file-size% bytes
	</td>
</tr>
<tr>
	<!-- FreeMarker -->
	<td><img src="images/%jbosside-freemarker-status%-small.png"/></td>
	<td class="downloadInfo">
		<a class="pluginLink" href="%jbosside-download-root%/freemarker/%jbosside-freemarker-filename%">%jbosside-freemarker-filename%</a><br/>
		&nbsp;&nbsp;&nbsp;&nbsp;<a class="md5" href="%jbosside-download-root%/freemarker/%jbosside-freemarker-filename%.MD5">md5</a> | filesize: %freemarker-file-size% bytes
	</td>
</tr>
<tr>
	<!-- JBossCache IDE -->
	<td><img src="images/%jbosside-cache-status%-small.png"/></td>
	<td class="downloadInfo">
		<a class="pluginLink" href="%jbosside-download-root%/cache/%jbosside-cache-filename%">%jbosside-cache-filename%</a><br/>
		&nbsp;&nbsp;&nbsp;&nbsp;<a class="md5" href="%jbosside-download-root%/cache/%jbosside-cache-filename%.MD5">md5</a> | filesize: %cache-file-size% bytes
	</td>
</tr>
</table>

</div>

<div id="rightFrame">
	<div id="buildDrivers">
		<b>Build Drivers</b>
		<table>
		<tr>
			<td>Eclipse</td>
			<td><a href="%eclipse-download-url%">%eclipse-target%</a></td>
		</tr>
		<tr>
			<td>Webtools</td>
			<td><a href="%webtools-download-url%">%webtools-target%</a></td>
		</tr>
		<tr>
			<td>GEF</td>
			<td><a href="%gef-download-url%">%gef-target%</a></td>
		</tr>
		<tr>
			<td>EMF/XSD/SDO</td>
			<td><a href="%emf-sdo-xsd-download-url%">%emf-sdo-xsd-target%</a></td>
		</tr>
		<tr>
			<td>JEM</td>
			<td><a href="%jem-download-url%">%jem-target%</a></td>
		</tr>
		</table>
	</div>
	<div id="unitTestResults">
		<b>Unit Test Results</b><br/>
		
		<table>
		<tr>
			<td><img src="images/test.gif"/> Tests</td>
			<td align="right">&nbsp;&nbsp;&nbsp;%junit-test-count%</td>
		</tr>
		<tr>
			<td><img src="images/testerr.gif"/> Errors</td>
			<td align="right">%junit-error-count%</td>
		</tr>
		<tr>
			<td><img src="images/testfail.gif"/> Failures</td>
			<td align="right">%junit-failure-count%</td>
		</tr>
		</table>
		<div align="right"><a style="align: right;" href="%jbosside-download-root%/tests/test-results/org.jboss.ide.eclipse.tests.html">See full unit test results</a></div>
	</div>
	
	<div id="buildInfo">
		%build-information%
	</div>

</div>

</div>

</body>
</html>