<html>
	<head>
		<title>JBoss Eclipse IDE build results for %build-type% build %jbosside-build-name%</title>
		<style>
			div.section {
				background-color: #0080C0;
				color: white;
				font-weight: bold;
				font-family: Arial, Helvetica;
				font-size: 12pt;
				padding-left: 5px;
			}
			body, td, li {
				font-family: Arial, Helvetica;
				font-size: 10pt;
			}
			
			td.platform  {
				width: 250px;
			}
		</style>
	</head>
	
	<body style="font-family: sans-serif">
		<h2>JBoss Eclipse IDE %build-type% build: %jbosside-build-name%</h2>
		%date% <a href="%jbosside-download-root%/build.log.zip">Download Build Log</a>
		<hr/>
		
		%build-information%
		
		<div class="section">Build Targets / Drivers</div>
		<ul>
			<li>The Eclipse driver used in this build was <a href="%eclipse-download-url%">%eclipse-target%</a>.</li>
		 	<li>The WTP driver used in this build was <a href="%webtools-download-url%">%webtools-target%</a>.</li>
		 	<li>The GEF driver used in this build was <a href="%gef-download-url%">%gef-target%</a>.</li>
		 	<li>The EMF/XSD/SDO driver used in this build was <a href="%emf-sdo-xsd-download-url%">%emf-sdo-xsd-target%</a>.</li>
		 	<li>The JEM driver used in this build was <a href="%jem-download-url%">%jem-target%</a>.</li>
		 </ul>
		
		<div class="section">Help & Information</div>
		Here is a list of resources for JBoss Eclipse IDE and it's components:
		<ul>
			<li>JBoss Eclipse IDE: <a href="http://www.jboss.com/products/jbosside">Website</a> | <a href="http://www.jboss.com/index.html?module=bb&op=viewforum&f=201">User Forums</a> | <a href="http://jira.jboss.com/jira/secure/BrowseProject.jspa?id=10020">JIRA Issue Tracking</a> (Bugs & New Features)</li>
			<li>Hibernate Tools: <a href="http://tools.hibernate.org">Website</a> | <a href="http://forum.hibernate.org/viewforum.php?f=6">User Forums</a> | <a href="http://opensource2.atlassian.com/projects/hibernate/browse/HBX">JIRA Issue Tracking</a> (Bugs & New Features)</li>
		</ul>
		
		<div class="section">JBoss Eclipse IDE Bundles</div>
		JBossIDE bundle builds include all plugins and components of JBossIDE as well as the entire Eclipse SDK. Please
		choose the correct bundle for your platform.<br/>
		
		<table border="0" style="margin-left: 15px;"  cellspacing="5">
			<tr><td class="platform"><b>Platform</b></td><td><b>Download</b></td></tr>
			<tr><td class="platform">Windows</td><td><a href="%jbosside-download-root%/bundle/%jbosside-win32-bundle-filename%">%jbosside-win32-bundle-filename%</a> (<a href="%jbosside-download-root%/bundle/%jbosside-win32-bundle-filename%.md5">md5</a>)</td></tr>
			<tr><td class="platform"><b>Platform</b></td><td><b>Download</b></td></tr>
			<tr><td class="platform">Linux (x86/GTK2)</td><td><a href="%jbosside-download-root%/bundle/%jbosside-linux-gtk2-bundle-filename%">%jbosside-linux-gtk2-bundle-filename%</a> (<a href="%jbosside-download-root%/bundle/%jbosside-linux-gtk2-bundle-filename%.md5">md5</a>)</td></tr>
		</table>
		
		<div class="section">All JBossIDE Components</div>
		This is a single build that contains all of JBossIDE's components (JBossIDE-Core, JBossAOP Developer, Hibernate Tools, jBPM Designer, EJB3 Tools).<br/>
		
		<table border="0" style="margin-left: 15px;"  cellspacing="5">
			<tr><td class="platform"><b>Platform</b></td><td><b>Download</b></td></tr>
			<tr><td class="platform">ALL</td><td><a href="%jbosside-download-root%/all/%jbosside-all-filename%">%jbosside-all-filename%</a> (<a href="%jbosside-download-root%/all/%jbosside-all-filename%.md5">md5</a>)</td></tr>
		</table>
		
		<div class="section">Standalone JBossIDE Components</div>
		These are standalone versions of each component in JBossIDE. Each component comes with all necessary requirements to run in a clean version of the Eclipse SDK.<br/>
		
		<table border="0" style="margin-left: 15px;"  cellspacing="5">
			<tr><td class="platform"><b>Platform</b></td><td><b>Download</b></td></tr>
			<tr><td class="platform">ALL</td><td><a href="%jbosside-download-root%/core/%jbosside-core-filename%">%jbosside-core-filename%</a> (<a href="%jbosside-download-root%/core/%jbosside-core-filename%.md5">md5</a>)</td></tr>
			<tr><td class="platform"><b>Platform</b></td><td><b>Download</b></td></tr>
			<tr><td class="platform">ALL</td><td><a href="%jbosside-download-root%/aop/%jbosside-aop-filename%">%jbosside-aop-filename%</a> (<a href="%jbosside-download-root%/aop/%jbosside-aop-filename%.md5">md5</a>)</td></tr>
			<tr><td class="platform"><b>Platform</b></td><td><b>Download</b></td></tr>
			<tr><td class="platform">ALL</td><td><a href="%jbosside-download-root%/hibernate-tools/%jbosside-hibernate-tools-filename%">%jbosside-hibernate-tools-filename%</a> (<a href="%jbosside-download-root%/hibernate-tools/%jbosside-hibernate-tools-filename%.md5">md5</a>)</td></tr>
			<tr><td class="platform"><b>Platform</b></td><td><b>Download</b></td></tr>
			<tr><td class="platform">ALL</td><td><a href="%jbosside-download-root%/jbpm/%jbosside-jbpm-filename%">%jbosside-jbpm-filename%</a> (<a href="%jbosside-download-root%/jbpm/%jbosside-jbpm-filename%.md5">md5</a>)</td></tr>
			<tr><td class="platform"><b>Platform</b></td><td><b>Download</b></td></tr>
			<tr><td class="platform">ALL</td><td><a href="%jbosside-download-root%/ejb3/%jbosside-ejb3-filename%">%jbosside-ejb3-filename%</a> (<a href="%jbosside-download-root%/ejb3/%jbosside-ejb3-filename%.md5">md5</a>)</td></tr>
		</table>
	</body>
</html>