<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.jboss.tools.deltacloud.ui"
            name="%DeltaCloudCategory">
      </category>
      <view
            name="%CloudViewerName"
            icon="icons/delta.gif"
            category="org.jboss.tools.deltacloud.ui"
            class="org.jboss.tools.deltacloud.ui.views.DeltaCloudView"
            id="org.jboss.tools.deltacloud.ui.views.CloudView">
      </view>
      <view
            category="org.jboss.tools.deltacloud.ui"
            class="org.jboss.tools.deltacloud.ui.views.InstanceView"
            icon="icons/delta.gif"
            id="org.jboss.tools.deltacloud.ui.views.InstanceView"
            name="%InstanceViewer.name">
      </view>
      <view
            category="org.jboss.tools.deltacloud.ui"
            class="org.jboss.tools.deltacloud.ui.views.ImageView"
            icon="icons/delta.gif"
            id="org.jboss.tools.deltacloud.ui.views.ImageView"
            name="%ImageViewer.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.jboss.tools.deltacloud.ui.views.CloudView"
            typeMapper="org.jboss.tools.deltacloud.ui.views.CVTypeMapper">
         <propertyCategory
               category="main"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.jboss.tools.deltacloud.ui.views.CloudView">
         <propertyTab
               category="main"
               id="cloudview.advancedTab"
               label="%Advanced.label">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.jboss.tools.deltacloud.ui.views.CloudView">
         <propertySection
               class="org.jboss.tools.deltacloud.ui.views.CVPropertySection"
               id="org.jboss.tools.deltacloud.ui.propertySection.advanced"
               tab="cloudview.advancedTab">
            <input
                  type="org.jboss.tools.deltacloud.ui.views.CloudViewElement">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.jboss.tools.deltacloud.ui.wizard.category"
            name="%DeltaCloudCategory">
      </category>
      <wizard
            category="org.jboss.tools.deltacloud.ui.wizard.category"
            class="org.jboss.tools.deltacloud.ui.internal.wizards.NewCloudConnection"
            icon="icons/delta.gif"
            id="org.jboss.tools.deltacloud.ui.connection.wizard"
            name="%NewWizard.name">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.jboss.tools.deltacloud.ui.DeltaCloudPerspective"
            icon="icons/delta.gif"
            id="org.jboss.tools.deltacloud.ui.perspective"
            name="%DeltaCloudPerspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.jboss.tools.deltacloud.ui.preferences.DeltaCloudPreferencePage"
            id="org.jboss.tools.deltacloud.ui.page1"
            name="%Preferences.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.jboss.tools.deltacloud.ui.commands.NewConnectionHandler"
            commandId="org.jboss.tools.deltacloud.ui.newconnection">
      </handler>
      <handler
            class="org.jboss.tools.deltacloud.ui.commands.EditConnectionHandler"
            commandId="org.jboss.tools.deltacloud.ui.editconnection">
         <enabledWhen>
               <with
                     variable="selection">
					<iterate>
	               		<instanceof
	                	     value="org.jboss.tools.deltacloud.ui.views.CloudViewElement">
	               		</instanceof>
	               	</iterate>
               </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.jboss.tools.deltacloud.ui.commands.DisconnectCloudHandler"
            commandId="org.eclipse.ui.edit.delete">
         <enabledWhen>
               <with
                     variable="selection">
					<iterate>
	               		<instanceof
	                	     value="org.jboss.tools.deltacloud.ui.views.CloudViewElement">
	               		</instanceof>
	               	</iterate>
               </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.jboss.tools.deltacloud.menus.cloudviewer">
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="Disconnect Cloud"
               style="push">
         </command>
         <command
               commandId="org.jboss.tools.deltacloud.ui.newconnection"
               label="New Connection"
               style="push">
         </command>
         <command
               commandId="org.jboss.tools.deltacloud.ui.editconnection"
               label="Edit Connection"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Creates a new cloud connection"
            id="org.jboss.tools.deltacloud.ui.newconnection"
            name="New Connection">
      </command>
      <command
            id="org.jboss.tools.deltacloud.ui.editconnection"
            name="Edit Connection">
      </command>
   </extension>

</plugin>
