<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.jboss.tools.deltacloud.ui"
            name="%DeltaCloudCategory">
      </category>
      <view
            name="%CloudViewerName"
            icon="icons/delta.gif"
            category="org.jboss.tools.deltacloud.ui"
            class="org.jboss.tools.deltacloud.ui.views.DeltaCloudView"
            id="org.jboss.tools.deltacloud.ui.views.CloudView">
      </view>
      <view
            category="org.jboss.tools.deltacloud.ui"
            class="org.jboss.tools.deltacloud.ui.views.InstanceView"
            icon="icons/delta.gif"
            id="org.jboss.tools.deltacloud.ui.views.InstanceView"
            name="%InstanceViewer.name">
      </view>
      <view
            category="org.jboss.tools.deltacloud.ui"
            class="org.jboss.tools.deltacloud.ui.views.ImageView"
            icon="icons/delta.gif"
            id="org.jboss.tools.deltacloud.ui.views.ImageView"
            name="%ImageViewer.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.jboss.tools.deltacloud.ui.views.CloudView"
            typeMapper="org.jboss.tools.deltacloud.ui.views.CVTypeMapper">
         <propertyCategory
               category="main"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.jboss.tools.deltacloud.ui.views.CloudView">
         <propertyTab
               category="main"
               id="cloudview.advancedTab"
               label="%Advanced.label">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.jboss.tools.deltacloud.ui.views.CloudView">
         <propertySection
               class="org.jboss.tools.deltacloud.ui.views.CVPropertySection"
               id="org.jboss.tools.deltacloud.ui.propertySection.advanced"
               tab="cloudview.advancedTab">
            <input
                  type="org.jboss.tools.deltacloud.ui.views.CloudViewElement">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.jboss.tools.deltacloud.ui.wizard.category"
            name="%DeltaCloudCategory">
      </category>
      <wizard
            category="org.jboss.tools.deltacloud.ui.wizard.category"
            class="org.jboss.tools.internal.deltacloud.ui.wizards.NewCloudConnection"
            icon="icons/delta.gif"
            id="org.jboss.tools.deltacloud.ui.connection.wizard"
            name="%NewWizard.name">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.jboss.tools.deltacloud.ui.DeltaCloudPerspective"
            icon="icons/delta.gif"
            id="org.jboss.tools.deltacloud.ui.perspective"
            name="%DeltaCloudPerspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.jboss.tools.deltacloud.ui.preferences.DeltaCloudPreferencePage"
            id="org.jboss.tools.deltacloud.ui.page1"
            name="%Preferences.name">
      </page>
   </extension>
   <!-- connection command handlers -->
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.jboss.tools.deltacloud.ui.commands.NewConnectionHandler"
            commandId="org.jboss.tools.deltacloud.ui.newconnection">
      </handler>
      <handler
            class="org.jboss.tools.deltacloud.ui.commands.EditConnectionHandler"
            commandId="org.jboss.tools.deltacloud.ui.editconnection">
         <activeWhen>
               <with
                     variable="selection">
					<iterate>
	               		<instanceof
	                	     value="org.jboss.tools.deltacloud.ui.views.CloudViewElement">
	               		</instanceof>
	               	</iterate>
               </with>
         </activeWhen>
      </handler>
      <handler
            class="org.jboss.tools.deltacloud.ui.commands.DisconnectCloudHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
               <with
                     variable="selection">
					<iterate>
	               		<instanceof
	                	     value="org.jboss.tools.deltacloud.ui.views.CloudViewElement">
	               		</instanceof>
	               	</iterate>
               </with>
         </activeWhen>
      </handler>
            <handler
            class="org.jboss.tools.deltacloud.ui.commands.RefreshCloudHandler"
            commandId="org.eclipse.ui.file.refresh">
         <activeWhen>
               <with
                     variable="selection">
					<iterate>
	               		<instanceof
	                	     value="org.jboss.tools.deltacloud.ui.views.CloudViewElement">
	               		</instanceof>
	               	</iterate>
               </with>
         </activeWhen>
      </handler>
	  <!-- instance command handlers -->
      <handler
            class="org.jboss.tools.deltacloud.ui.commands.StartInstanceHandler"
            commandId="org.jboss.tools.deltacloud.ui.startinstance">
         <activeWhen>
               <with
                     variable="selection">
					<iterate operator="and">
						<and>
		               		<instanceof
		                	     value="org.jboss.tools.deltacloud.ui.views.CVInstanceElement">
		               		</instanceof>
							<test 
								property="org.jboss.tools.deltacloud.ui.instance.isStopped"
             					value="true"/>
		               	</and>
	               	</iterate>
               </with>
         </activeWhen>
      </handler>
      <handler
            class="org.jboss.tools.deltacloud.ui.commands.StopInstanceHandler"
            commandId="org.jboss.tools.deltacloud.ui.stopinstance">
         <activeWhen>
               <with
                     variable="selection">
					<iterate>
						<and>
		               		<instanceof
		                	     value="org.jboss.tools.deltacloud.ui.views.CVInstanceElement">
		               		</instanceof>
							<test 
								property="org.jboss.tools.deltacloud.ui.instance.isStopped"
             					value="false"/>
		               	</and>
	               	</iterate>
               </with>
         </activeWhen>
      </handler>
      <handler
            class="org.jboss.tools.deltacloud.ui.commands.RebootInstanceHandler"
            commandId="org.jboss.tools.deltacloud.ui.rebootinstance">
         <activeWhen>
               <with
                     variable="selection">
					<iterate>
	               		<instanceof
	                	     value="org.jboss.tools.deltacloud.ui.views.CVInstanceElement">
	               		</instanceof>
	               	</iterate>
               </with>
         </activeWhen>
      </handler>
      <handler
            class="org.jboss.tools.deltacloud.ui.commands.DestroyInstanceHandler"
            commandId="org.jboss.tools.deltacloud.ui.destroyinstance">
         <activeWhen>
               <with
                     variable="selection">
					<iterate>
	               		<instanceof
	                	     value="org.jboss.tools.deltacloud.ui.views.CVInstanceElement">
	               		</instanceof>
	               	</iterate>
               </with>
         </activeWhen>
      </handler>
      <handler
            class="org.jboss.tools.deltacloud.ui.commands.CreateInstanceHandler2"
            commandId="org.jboss.tools.deltacloud.ui.createinstance2">
         <activeWhen>
               <with
                     variable="selection">
					<iterate>
	               		<instanceof
	                	     value="org.jboss.tools.deltacloud.ui.views.CloudViewElement">
	               		</instanceof>
	               	</iterate>
               </with>
         </activeWhen>
      </handler>
      <!-- image command handlers -->
      <handler
            class="org.jboss.tools.deltacloud.ui.commands.CreateInstanceHandler"
            commandId="org.jboss.tools.deltacloud.ui.createinstance">
         <activeWhen>
               <with
                     variable="selection">
					<iterate>
	               		<instanceof
	                	     value="org.jboss.tools.deltacloud.ui.views.CVImageElement">
	               		</instanceof>
	               	</iterate>
               </with>
         </activeWhen>
      </handler>
	  <!-- Filter handlers -->
      <handler
            class="org.jboss.tools.deltacloud.ui.commands.FilterImagesHandler"
            commandId="org.jboss.tools.deltacloud.ui.filterimages">
         <activeWhen>
               <with
                     variable="selection">
					<iterate>
	               		<instanceof
	                	     value="org.jboss.tools.deltacloud.ui.views.CloudViewElement">
	               		</instanceof>
	               	</iterate>
               </with>
         </activeWhen>
      </handler>
      <handler
            class="org.jboss.tools.deltacloud.ui.commands.FilterInstancesHandler"
            commandId="org.jboss.tools.deltacloud.ui.filterinstances">
         <activeWhen>
               <with
                     variable="selection">
					<iterate>
	               		<instanceof
	                	     value="org.jboss.tools.deltacloud.ui.views.CloudViewElement">
	               		</instanceof>
	               	</iterate>
               </with>
         </activeWhen>
      </handler>
   </extension>
   <extension point="org.eclipse.ui.menus">
	  <!-- DeltaCloudView context menu ================================== -->
      <menuContribution
            allPopups="true"
            locationURI="popup:org.jboss.tools.deltacloud.ui.views.DeltaCloudView">
			<separator
				name="instances"
				visible="true" />
			<separator
				name="connections"
				visible="true" />
			<separator
				name="images"
				visible="true" />
			<separator
				name="filters"
				visible="true" />
	</menuContribution>
    <menuContribution
            allPopups="true"
            locationURI="popup:org.jboss.tools.deltacloud.ui.views.DeltaCloudView?after=instances">	
		<!-- instance commands -->
         <command
               commandId="org.jboss.tools.deltacloud.ui.startinstance"
               disabledIcon="icons/runningd.gif"
               icon="icons/running.gif"
               label="%command.label"
               style="push"
               tooltip="%command.tooltip">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="selection">
					<iterate>
	               		<instanceof
	                	     value="org.jboss.tools.deltacloud.ui.views.CVInstanceElement">
	               		</instanceof>
	               	</iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.jboss.tools.deltacloud.ui.stopinstance"
               disabledIcon="icons/stoppedd.gif"
               icon="icons/stopped.gif"
               label="%command.stopinstance.label"
               style="push"
               tooltip="%command.stopinstance.tooltip">
             <visibleWhen
                  checkEnabled="true">
               <with
                     variable="selection">
					<iterate>
	               		<instanceof
	                	     value="org.jboss.tools.deltacloud.ui.views.CVInstanceElement">
	               		</instanceof>
	               	</iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.jboss.tools.deltacloud.ui.rebootinstance"
               disabledIcon="icons/rebootd.gif"
               icon="icons/reboot.gif"
               label="%command.rebootinstance.label"
               style="push"
               tooltip="%command.rebootinstance.tooltip">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="selection">
					<iterate>
	               		<instanceof
	                	     value="org.jboss.tools.deltacloud.ui.views.CVInstanceElement">
	               		</instanceof>
	               	</iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.jboss.tools.deltacloud.ui.destroyinstance"
               label="%command.destroyinstance.label"
               style="push"
               tooltip="%command.destroyinstance.tooltip">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="selection">
					<iterate>
	               		<instanceof
	                	     value="org.jboss.tools.deltacloud.ui.views.CVInstanceElement">
	               		</instanceof>
	               	</iterate>
               </with>
            </visibleWhen>
         </command>
		 <separator
                  name="additions"
                  visible="true">
         </separator>
    </menuContribution>
    <menuContribution
            allPopups="true"
            locationURI="popup:org.jboss.tools.deltacloud.ui.views.DeltaCloudView?after=connections">	
		 <!-- connection commands -->
         <command
               commandId="org.jboss.tools.deltacloud.ui.newconnection"
               label="%command.newconnection.label"
               style="push"
               tooltip="%command.newconnection.tooltip">
         </command>
         <command
               commandId="org.jboss.tools.deltacloud.ui.editconnection"
               label="%command.editconnection.label"
               style="push"
               tooltip="%command.editconnection.tooltip">
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="%command.disconnectcloud.label"
               style="push"
               tooltip="%command.disconnectcloud.tooltip">
         </command>
         <command
               commandId="org.eclipse.ui.file.refresh"
               label="%command.refresh.label"
               style="push"
               tooltip="%command.refresh.tooltip">
         </command>
    </menuContribution>
    <menuContribution
            allPopups="true"
            locationURI="popup:org.jboss.tools.deltacloud.ui.views.DeltaCloudView?after=images">	
        <!-- image commands -->
         <command
               commandId="org.jboss.tools.deltacloud.ui.createinstance"
               icon="icons/instance.gif"
               label="%command.createinstance.label"
               style="push"
               tooltip="%command.createinstance.tooltip">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="selection">
					<iterate>
	               		<instanceof
	                	     value="org.jboss.tools.deltacloud.ui.views.CVImageElement">
	               		</instanceof>
	               	</iterate>
               </with>
            </visibleWhen>
         </command>
    </menuContribution>
     <menuContribution
            allPopups="true"
            locationURI="popup:org.jboss.tools.deltacloud.ui.views.DeltaCloudView?after=images">	
        <!-- image commands -->
         <command
               commandId="org.jboss.tools.deltacloud.ui.createinstance2"
               icon="icons/instance.gif"
               label="%command.createinstance.label"
               style="push"
               tooltip="%command.createinstance.tooltip">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="selection">
					<iterate>
        <and>
           <instanceof
                 value="org.jboss.tools.deltacloud.ui.views.CloudViewElement">
           </instanceof>
           <not>
              <instanceof
                    value="org.jboss.tools.deltacloud.ui.views.CVImageElement">
              </instanceof>
           </not>
        </and>
	               	</iterate>
               </with>
            </visibleWhen>
         </command>
    </menuContribution>
    <menuContribution
            allPopups="true"
            locationURI="popup:org.jboss.tools.deltacloud.ui.views.DeltaCloudView?after=filters">         
         <command
               commandId="org.jboss.tools.deltacloud.ui.filterimages"
               label="%command.filterimages.label"
               style="push"
               tooltip="%command.filterimages.tooltip">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="selection">
					<iterate>
	               		<instanceof
	                	     value="org.jboss.tools.deltacloud.ui.views.CloudViewElement">
	               		</instanceof>
	               	</iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.jboss.tools.deltacloud.ui.filterinstances"
               label="%command.filterinstances.label"
               style="push"
               tooltip="%command.filterinstances.tooltip">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="selection">
					<iterate>
	               		<instanceof
	                	     value="org.jboss.tools.deltacloud.ui.views.CloudViewElement">
	               		</instanceof>
	               	</iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
	  <!-- DeltaCloudView local menu ========================================= -->
      <menuContribution
            allPopups="true"
            locationURI="menu:org.jboss.tools.deltacloud.ui.views.DeltaCloudView">
		<!-- instance commands -->
         <command
               commandId="org.jboss.tools.deltacloud.ui.startinstance"
               disabledIcon="icons/runningd.gif"
               icon="icons/running.gif"
               label="%command.startinstance.label"
               style="push"
               tooltip="%command.startinstance.tooltip">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="selection">
					<iterate>
	               		<instanceof
	                	     value="org.jboss.tools.deltacloud.ui.views.CVInstanceElement">
	               		</instanceof>
	               	</iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.jboss.tools.deltacloud.ui.stopinstance"
               disabledIcon="icons/stoppedd.gif"
               icon="icons/stopped.gif"
               label="%command.stopinstance.label"
               style="push"
               tooltip="%command.stopinstance.tooltip">
             <visibleWhen
                  checkEnabled="true">
               <with
                     variable="selection">
					<iterate>
	               		<instanceof
	                	     value="org.jboss.tools.deltacloud.ui.views.CVInstanceElement">
	               		</instanceof>
	               	</iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.jboss.tools.deltacloud.ui.rebootinstance"
               disabledIcon="icons/rebootd.gif"
               icon="icons/reboot.gif"
               label="%command.rebootinstance.label"
               style="push"
               tooltip="%command.rebootinstance.tooltip">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="selection">
					<iterate>
	               		<instanceof
	                	     value="org.jboss.tools.deltacloud.ui.views.CVInstanceElement">
	               		</instanceof>
	               	</iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.jboss.tools.deltacloud.ui.destroyinstance"
               label="%command.destroyinstance.label"
               style="push"
               tooltip="%command.destroyinstance.tooltip">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="selection">
					<iterate>
	               		<instanceof
	                	     value="org.jboss.tools.deltacloud.ui.views.CVInstanceElement">
	               		</instanceof>
	               	</iterate>
               </with>
            </visibleWhen>
         </command>
		 <separator
                  name="additions"
                  visible="true">
         </separator>
         <!-- connection commands -->
         <command
               commandId="org.jboss.tools.deltacloud.ui.newconnection"
               label="%command.newconnection.label"
               style="push"
               tooltip="%command.newconnection.tooltip">
         </command>
         <command
               commandId="org.jboss.tools.deltacloud.ui.editconnection"
               label="%command.editconnection.label"
               style="push"
               tooltip="%command.editconnection.tooltip">
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="%command.disconnectcloud.label"
               style="push"
               tooltip="%command.disconnectcloud.tooltip">
         </command>
        <!-- image commands -->
         <command
               commandId="org.jboss.tools.deltacloud.ui.createinstance"
               icon="icons/instance.gif"
               label="%command.createinstance.label"
               style="push"
               tooltip="%command.createinstance.tooltip">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="selection">
					<iterate>
	               		<instanceof
	                	     value="org.jboss.tools.deltacloud.ui.views.CVImageElement">
	               		</instanceof>
	               	</iterate>
               </with>
            </visibleWhen>
         </command>
          <command
               commandId="org.jboss.tools.deltacloud.ui.createinstance2"
               icon="icons/instance.gif"
               label="%command.createinstance.label"
               style="push"
               tooltip="%command.createinstance.tooltip">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="selection">
					<iterate>
	               		<instanceof
	                	     value="org.jboss.tools.deltacloud.ui.views.CloudViewElement">
	               		</instanceof>
	               	</iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.jboss.tools.deltacloud.ui.filterimages"
               label="%command.filterimages.label"
               style="push"
               tooltip="%command.filterimages.tooltip">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="selection">
					<iterate>
	               		<instanceof
	                	     value="org.jboss.tools.deltacloud.ui.views.CloudViewElement">
	               		</instanceof>
	               	</iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.jboss.tools.deltacloud.ui.filterinstances"
               label="%command.filterinstances.label"
               style="push"
               tooltip="%command.filterinstances.tooltip">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="selection">
					<iterate>
	               		<instanceof
	                	     value="org.jboss.tools.deltacloud.ui.views.CloudViewElement">
	               		</instanceof>
	               	</iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
    </extension>
	<!-- Commands -->
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="%command.newconnection.description"
            id="org.jboss.tools.deltacloud.ui.newconnection"
            name="%command.newconnection.name">
      </command>
      <command
			description="%command.editconnection.description"
            id="org.jboss.tools.deltacloud.ui.editconnection"
            name="%command.editconnection.name">
      </command>
      <command
            description="%command.createinstance.description"
            id="org.jboss.tools.deltacloud.ui.createinstance2"
            name="%command.createinstance.name">
      </command>
	  <!-- image commands -->
      <command
            description="%command.createinstance.description"
            id="org.jboss.tools.deltacloud.ui.createinstance"
            name="%command.createinstance.name">
      </command>
	  <!-- instance commands -->
      <command
            description="%command.startinstance.description"
            id="org.jboss.tools.deltacloud.ui.startinstance"
            name="%command.startinstance.name">
      </command>
      <command
            description="%command.stopinstance.description"
            id="org.jboss.tools.deltacloud.ui.stopinstance"
            name="%command.stopinstance.name">
      </command>
      <command
            description="%command.rebootinstance.description"
            id="org.jboss.tools.deltacloud.ui.rebootinstance"
            name="%command.rebootinstance.name">
      </command>
      <command
            description="%command.destroyinstance.description"
            id="org.jboss.tools.deltacloud.ui.destroyinstance"
            name="%command.destroyinstance.name">
      </command>
	  <!-- filter commands -->
      <command
            description="%command.filterimages.description"
            id="org.jboss.tools.deltacloud.ui.filterimages"
            name="%command.filterimages.name">
      </command>
      <command
            description="%command.filterinstances.description"
            id="org.jboss.tools.deltacloud.ui.filterinstances"
            name="%command.filterinstances.name">
      </command>
   </extension>
    <extension
          point="org.eclipse.core.expressions.propertyTesters">
       <propertyTester
             class="org.jboss.tools.deltacloud.ui.commands.InstanceStoppedPropertyTester"
             id="org.jboss.tools.deltacloud.ui.commands.InstancePropertyTester"
             namespace="org.jboss.tools.deltacloud.ui.instance"
             properties="isStopped"
             type="org.jboss.tools.deltacloud.ui.views.CVInstanceElement">
       </propertyTester>
    </extension>

</plugin>
