<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.jboss.tools.deltacloud.ui"
            name="%DeltaCloudCategory">
      </category>
      <view
            name="%CloudViewerName"
            icon="icons/delta.gif"
            category="org.jboss.tools.deltacloud.ui"
            class="org.jboss.tools.deltacloud.ui.views.DeltaCloudView"
            id="org.jboss.tools.deltacloud.ui.views.CloudView">
      </view>
      <view
            category="org.jboss.tools.deltacloud.ui"
            class="org.jboss.tools.deltacloud.ui.views.InstanceView"
            icon="icons/delta.gif"
            id="org.jboss.tools.deltacloud.ui.views.InstanceView"
            name="%InstanceViewer.name">
      </view>
      <view
            category="org.jboss.tools.deltacloud.ui"
            class="org.jboss.tools.deltacloud.ui.views.ImageView"
            icon="icons/delta.gif"
            id="org.jboss.tools.deltacloud.ui.views.ImageView"
            name="%ImageViewer.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.jboss.tools.deltacloud.ui.views.CloudView"
            typeMapper="org.jboss.tools.deltacloud.ui.views.CVTypeMapper">
         <propertyCategory
               category="main"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.jboss.tools.deltacloud.ui.views.CloudView">
         <propertyTab
               category="main"
               id="cloudview.advancedTab"
               label="%Advanced.label">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.jboss.tools.deltacloud.ui.views.CloudView">
         <propertySection
               class="org.jboss.tools.deltacloud.ui.views.CVPropertySection"
               id="org.jboss.tools.deltacloud.ui.propertySection.advanced"
               tab="cloudview.advancedTab">
            <input
                  type="org.jboss.tools.deltacloud.ui.views.CloudViewElement">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.jboss.tools.deltacloud.ui.wizard.category"
            name="%DeltaCloudCategory">
      </category>
      <wizard
            category="org.jboss.tools.deltacloud.ui.wizard.category"
            class="org.jboss.tools.internal.deltacloud.ui.wizards.NewCloudConnection"
            icon="icons/delta.gif"
            id="org.jboss.tools.deltacloud.ui.connection.wizard"
            name="%NewWizard.name">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.jboss.tools.deltacloud.ui.DeltaCloudPerspective"
            icon="icons/delta.gif"
            id="org.jboss.tools.deltacloud.ui.perspective"
            name="%DeltaCloudPerspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.jboss.tools.deltacloud.ui.preferences.DeltaCloudPreferencePage"
            id="org.jboss.tools.deltacloud.ui.page1"
            name="%Preferences.name">
      </page>
   </extension>

</plugin>
