<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.apache.xalan"
   name="%plugin.name"
   version="2.6.0"
   provider-name="%plugin.provider">

   <runtime>
      <library name="xalan.jar">
         <export name="*"/>
      </library>
      <library name="xercesImpl.jar">
         <export name="*"/>
      </library>
      <library name="xml-apis.jar">
         <export name="*"/>
      </library>
   </runtime>

</plugin>
