<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="jbpmn"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="jbpmn"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="jbpmn"
            class="org.jboss.tools.bpmn2.util.Bpmn2ResourceFactoryImpl"/> 
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="false"?>
      <editor
         id="org.jboss.tools.bpmn2.process.diagram.part.Bpmn2DiagramEditorID"
         name="%editorName"
         icon="icons/obj16/jbpm_icon_16.png"
         extensions="jbpmn"
         default="true"
         class="org.jboss.tools.bpmn2.process.diagram.part.Bpmn2DiagramEditor"
         matchingStrategy="org.jboss.tools.bpmn2.process.diagram.part.Bpmn2MatchingStrategy"
         contributorClass="org.jboss.tools.bpmn2.process.diagram.part.Bpmn2DiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="org.jboss.tools.bpmn2.process.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="false"?>
  	  <wizard
           category="org.jboss.tools.jbpm"
           class="org.jboss.tools.bpmn2.process.diagram.part.Bpmn2CreationWizard"
           finalPerspective="org.jboss.tools.bpmn2"
           icon="icons/obj16/jbpm_icon_16.png"
           id="org.jboss.tools.bpmn2.process.diagram.part.Bpmn2CreationWizardID"
           name="%newWizardName"
           preferredPerspectives="org.jboss.tools.bpmn2">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
     <category
           id="org.jboss.tools.jbpm"
           name="jBPM">
     </category>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="org.jboss.tools.bpmn2.process.diagram.InitDiagram"
            nameFilter="*.jbpmn"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="org.jboss.tools.bpmn2.process.diagram.part.Bpmn2InitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.jboss.tools.bpmn2.process.diagram.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="bpmn2Presentation">
         <Priority name="Lowest"/>
         <ViewId id="org.jboss.tools.bpmn2.process.diagram.part.Bpmn2DiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="bpmn2PresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="org.jboss.tools.bpmn2.process.diagram.part.Bpmn2DiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="bpmn2Render">
         <Priority name="Lowest"/>
         <ViewId id="org.jboss.tools.bpmn2.process.diagram.part.Bpmn2DiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="org.jboss.tools.bpmn2.process.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="org.jboss.tools.bpmn2.process.diagram.general"
            name="%prefpage.org.jboss.tools.bpmn2.process.diagram.general"
            class="org.jboss.tools.bpmn2.process.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="org.jboss.tools.bpmn2.process.diagram.appearance"
            name="%prefpage.org.jboss.tools.bpmn2.process.diagram.appearance"
            category="org.jboss.tools.bpmn2.process.diagram.general"
            class="org.jboss.tools.bpmn2.process.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="org.jboss.tools.bpmn2.process.diagram.connections"
            name="%prefpage.org.jboss.tools.bpmn2.process.diagram.connections"
            category="org.jboss.tools.bpmn2.process.diagram.general"
            class="org.jboss.tools.bpmn2.process.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="org.jboss.tools.bpmn2.process.diagram.printing"
            name="%prefpage.org.jboss.tools.bpmn2.process.diagram.printing"
            category="org.jboss.tools.bpmn2.process.diagram.general"
            class="org.jboss.tools.bpmn2.process.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="org.jboss.tools.bpmn2.process.diagram.rulersAndGrid"
            name="%prefpage.org.jboss.tools.bpmn2.process.diagram.rulersAndGrid"
            category="org.jboss.tools.bpmn2.process.diagram.general"
            class="org.jboss.tools.bpmn2.process.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="org.jboss.tools.bpmn2.process.diagram"
            labelProvider="org.jboss.tools.bpmn2.process.diagram.sheet.Bpmn2SheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="org.jboss.tools.bpmn2.process.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="bpmnTabs">
      <propertyTabs contributorId="org.jboss.tools.bpmn2.process.diagram">
          <propertyTab
             category="domain"
             id="property.tab.bpmn"
             label="BPMN"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="org.jboss.tools.bpmn2.process.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="org.jboss.tools.bpmn2.process.diagram.sheet.Bpmn2PropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="org.jboss.tools.bpmn2.process.diagram.navigator.Bpmn2AbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="bpmnSection">
      <propertySections contributorId="org.jboss.tools.bpmn2.process.diagram">
         <propertySection
            id="property.section.bpmn" 
            tab="property.tab.bpmn"
            class="org.jboss.tools.bpmn2.process.diagram.sheet.Bpmn2PropertySectionBis">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="org.jboss.tools.bpmn2.process.diagram.navigator.Bpmn2AbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="org.jboss.tools.bpmn2.process.diagram.providers.Bpmn2ViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="bpmn2"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2001,2002,2003,2007,2004,2005,2006,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,3001,3002,3004,3003,3005,3006,3007,3008,3009,3010,3011,3012,3013,3014,3015,3016"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4001,4002"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="org.jboss.tools.bpmn2.process.diagram.providers.Bpmn2EditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="bpmn2"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2001,2002,2003,2007,2004,2005,2006,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,3001,3002,3004,3003,3005,3006,3007,3008,3009,3010,3011,3012,3013,3014,3015,3016"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4001,4002"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5001,5002,5003,5004,5009,5005,5006,5007,5008,5010"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value=""/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="org.jboss.tools.bpmn2.process.diagram.providers.Bpmn2ModelingAssistantProvider">
         <Priority name="Lowest"/>
         <object class="org.jboss.tools.bpmn2.process.diagram.edit.parts.ProcessEditPart" id="Process_1000"/>
         <object class="org.jboss.tools.bpmn2.process.diagram.edit.parts.UserTaskEditPart" id="UserTask_2001"/>
         <object class="org.jboss.tools.bpmn2.process.diagram.edit.parts.ServiceTaskEditPart" id="ServiceTask_2002"/>
         <object class="org.jboss.tools.bpmn2.process.diagram.edit.parts.StartEventEditPart" id="StartEvent_2003"/>
         <object class="org.jboss.tools.bpmn2.process.diagram.edit.parts.StartEvent2EditPart" id="StartEvent_2007"/>
         <object class="org.jboss.tools.bpmn2.process.diagram.edit.parts.EndEventEditPart" id="EndEvent_2004"/>
         <object class="org.jboss.tools.bpmn2.process.diagram.edit.parts.ExclusiveGatewayEditPart" id="ExclusiveGateway_2005"/>
         <object class="org.jboss.tools.bpmn2.process.diagram.edit.parts.ParallelGatewayEditPart" id="ParallelGateway_2006"/>
         <object class="org.jboss.tools.bpmn2.process.diagram.edit.parts.EndEvent2EditPart" id="EndEvent_2008"/>
         <object class="org.jboss.tools.bpmn2.process.diagram.edit.parts.EndEvent3EditPart" id="EndEvent_2009"/>
         <object class="org.jboss.tools.bpmn2.process.diagram.edit.parts.IntermediateCatchEventEditPart" id="IntermediateCatchEvent_2010"/>
         <object class="org.jboss.tools.bpmn2.process.diagram.edit.parts.IntermediateThrowEventEditPart" id="IntermediateThrowEvent_2011"/>
         <object class="org.jboss.tools.bpmn2.process.diagram.edit.parts.IntermediateCatchEvent2EditPart" id="IntermediateCatchEvent_2012"/>
         <object class="org.jboss.tools.bpmn2.process.diagram.edit.parts.IntermediateCatchEvent3EditPart" id="IntermediateCatchEvent_2013"/>
         <object class="org.jboss.tools.bpmn2.process.diagram.edit.parts.DataObjectEditPart" id="DataObject_2014"/>
         <object class="org.jboss.tools.bpmn2.process.diagram.edit.parts.TextAnnotationEditPart" id="TextAnnotation_2015"/>
         <object class="org.jboss.tools.bpmn2.process.diagram.edit.parts.SubProcessEditPart" id="SubProcess_2016"/>
         <object class="org.jboss.tools.bpmn2.process.diagram.edit.parts.ScriptTaskEditPart" id="ScriptTask_2017"/>
         <context elements="Process_1000,UserTask_2001,ServiceTask_2002,StartEvent_2003,StartEvent_2007,EndEvent_2004,ExclusiveGateway_2005,ParallelGateway_2006,EndEvent_2008,EndEvent_2009,IntermediateCatchEvent_2010,IntermediateThrowEvent_2011,IntermediateCatchEvent_2012,IntermediateCatchEvent_2013,DataObject_2014,TextAnnotation_2015,SubProcess_2016,ScriptTask_2017"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="org.jboss.tools.bpmn2.process.diagram.providers.Bpmn2IconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="org.jboss.tools.bpmn2.process.diagram.providers.Bpmn2ParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI">
         <metamodelType
               id="org.jboss.tools.bpmn2.process.diagram.Process_1000"
               name="%metatype.name.Process_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Process"
               edithelper="org.jboss.tools.bpmn2.process.diagram.edit.helpers.ProcessEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI">
         <metamodelType
               id="org.jboss.tools.bpmn2.process.diagram.UserTask_2001"
               name="%metatype.name.UserTask_2001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="UserTask"
               edithelper="org.jboss.tools.bpmn2.process.diagram.edit.helpers.UserTaskEditHelper">
            <param name="semanticHint" value="2001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI">
         <metamodelType
               id="org.jboss.tools.bpmn2.process.diagram.ServiceTask_2002"
               name="%metatype.name.ServiceTask_2002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ServiceTask"
               edithelper="org.jboss.tools.bpmn2.process.diagram.edit.helpers.ServiceTaskEditHelper">
            <param name="semanticHint" value="2002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI">
         <metamodelType
               id="org.jboss.tools.bpmn2.process.diagram.StartEvent_2003"
               name="%metatype.name.StartEvent_2003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="StartEvent"
               edithelper="org.jboss.tools.bpmn2.process.diagram.edit.helpers.StartEventEditHelper">
            <param name="semanticHint" value="2003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI">
         <specializationType
               id="org.jboss.tools.bpmn2.process.diagram.StartEvent_2007"
               name="%metatype.name.StartEvent_2007"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.jboss.tools.bpmn2.process.diagram.StartEvent_2003"/>
            <param name="semanticHint" value="2007"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI">
         <metamodelType
               id="org.jboss.tools.bpmn2.process.diagram.EndEvent_2004"
               name="%metatype.name.EndEvent_2004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="EndEvent"
               edithelper="org.jboss.tools.bpmn2.process.diagram.edit.helpers.EndEventEditHelper">
            <param name="semanticHint" value="2004"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI">
         <metamodelType
               id="org.jboss.tools.bpmn2.process.diagram.ExclusiveGateway_2005"
               name="%metatype.name.ExclusiveGateway_2005"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ExclusiveGateway"
               edithelper="org.jboss.tools.bpmn2.process.diagram.edit.helpers.ExclusiveGatewayEditHelper">
            <param name="semanticHint" value="2005"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI">
         <metamodelType
               id="org.jboss.tools.bpmn2.process.diagram.ParallelGateway_2006"
               name="%metatype.name.ParallelGateway_2006"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ParallelGateway"
               edithelper="org.jboss.tools.bpmn2.process.diagram.edit.helpers.ParallelGatewayEditHelper">
            <param name="semanticHint" value="2006"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI">
         <specializationType
               id="org.jboss.tools.bpmn2.process.diagram.EndEvent_2008"
               name="%metatype.name.EndEvent_2008"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.jboss.tools.bpmn2.process.diagram.EndEvent_2004"/>
            <param name="semanticHint" value="2008"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI">
         <specializationType
               id="org.jboss.tools.bpmn2.process.diagram.EndEvent_2009"
               name="%metatype.name.EndEvent_2009"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.jboss.tools.bpmn2.process.diagram.EndEvent_2004"/>
            <param name="semanticHint" value="2009"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI">
         <metamodelType
               id="org.jboss.tools.bpmn2.process.diagram.IntermediateCatchEvent_2010"
               name="%metatype.name.IntermediateCatchEvent_2010"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="IntermediateCatchEvent"
               edithelper="org.jboss.tools.bpmn2.process.diagram.edit.helpers.IntermediateCatchEventEditHelper">
            <param name="semanticHint" value="2010"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI">
         <metamodelType
               id="org.jboss.tools.bpmn2.process.diagram.IntermediateThrowEvent_2011"
               name="%metatype.name.IntermediateThrowEvent_2011"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="IntermediateThrowEvent"
               edithelper="org.jboss.tools.bpmn2.process.diagram.edit.helpers.IntermediateThrowEventEditHelper">
            <param name="semanticHint" value="2011"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI">
         <specializationType
               id="org.jboss.tools.bpmn2.process.diagram.IntermediateCatchEvent_2012"
               name="%metatype.name.IntermediateCatchEvent_2012"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.jboss.tools.bpmn2.process.diagram.IntermediateCatchEvent_2010"/>
            <param name="semanticHint" value="2012"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI">
         <specializationType
               id="org.jboss.tools.bpmn2.process.diagram.IntermediateCatchEvent_2013"
               name="%metatype.name.IntermediateCatchEvent_2013"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.jboss.tools.bpmn2.process.diagram.IntermediateCatchEvent_2010"/>
            <param name="semanticHint" value="2013"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI">
         <metamodelType
               id="org.jboss.tools.bpmn2.process.diagram.DataObject_2014"
               name="%metatype.name.DataObject_2014"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="DataObject"
               edithelper="org.jboss.tools.bpmn2.process.diagram.edit.helpers.DataObjectEditHelper">
            <param name="semanticHint" value="2014"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI">
         <metamodelType
               id="org.jboss.tools.bpmn2.process.diagram.TextAnnotation_2015"
               name="%metatype.name.TextAnnotation_2015"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="TextAnnotation"
               edithelper="org.jboss.tools.bpmn2.process.diagram.edit.helpers.TextAnnotationEditHelper">
            <param name="semanticHint" value="2015"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI">
         <metamodelType
               id="org.jboss.tools.bpmn2.process.diagram.SubProcess_2016"
               name="%metatype.name.SubProcess_2016"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="SubProcess"
               edithelper="org.jboss.tools.bpmn2.process.diagram.edit.helpers.SubProcessEditHelper">
            <param name="semanticHint" value="2016"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI">
         <specializationType
               id="org.jboss.tools.bpmn2.process.diagram.ScriptTask_2017"
               name="%metatype.name.ScriptTask_2017"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.jboss.tools.bpmn2.process.diagram.ScriptTask_3016"/>
            <param name="semanticHint" value="2017"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI">
         <specializationType
               id="org.jboss.tools.bpmn2.process.diagram.SubProcess_3001"
               name="%metatype.name.SubProcess_3001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.jboss.tools.bpmn2.process.diagram.SubProcess_2016"/>
            <param name="semanticHint" value="3001"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI">
         <specializationType
               id="org.jboss.tools.bpmn2.process.diagram.UserTask_3002"
               name="%metatype.name.UserTask_3002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.jboss.tools.bpmn2.process.diagram.UserTask_2001"/>
            <param name="semanticHint" value="3002"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI">
         <specializationType
               id="org.jboss.tools.bpmn2.process.diagram.ServiceTask_3004"
               name="%metatype.name.ServiceTask_3004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.jboss.tools.bpmn2.process.diagram.ServiceTask_2002"/>
            <param name="semanticHint" value="3004"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI">
         <specializationType
               id="org.jboss.tools.bpmn2.process.diagram.StartEvent_3003"
               name="%metatype.name.StartEvent_3003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.jboss.tools.bpmn2.process.diagram.StartEvent_2003"/>
            <param name="semanticHint" value="3003"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI">
         <specializationType
               id="org.jboss.tools.bpmn2.process.diagram.StartEvent_3005"
               name="%metatype.name.StartEvent_3005"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.jboss.tools.bpmn2.process.diagram.StartEvent_2003"/>
            <param name="semanticHint" value="3005"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI">
         <specializationType
               id="org.jboss.tools.bpmn2.process.diagram.EndEvent_3006"
               name="%metatype.name.EndEvent_3006"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.jboss.tools.bpmn2.process.diagram.EndEvent_2004"/>
            <param name="semanticHint" value="3006"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI">
         <specializationType
               id="org.jboss.tools.bpmn2.process.diagram.ExclusiveGateway_3007"
               name="%metatype.name.ExclusiveGateway_3007"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.jboss.tools.bpmn2.process.diagram.ExclusiveGateway_2005"/>
            <param name="semanticHint" value="3007"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI">
         <specializationType
               id="org.jboss.tools.bpmn2.process.diagram.ParallelGateway_3008"
               name="%metatype.name.ParallelGateway_3008"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.jboss.tools.bpmn2.process.diagram.ParallelGateway_2006"/>
            <param name="semanticHint" value="3008"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI">
         <specializationType
               id="org.jboss.tools.bpmn2.process.diagram.EndEvent_3009"
               name="%metatype.name.EndEvent_3009"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.jboss.tools.bpmn2.process.diagram.EndEvent_2004"/>
            <param name="semanticHint" value="3009"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI">
         <specializationType
               id="org.jboss.tools.bpmn2.process.diagram.EndEvent_3010"
               name="%metatype.name.EndEvent_3010"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.jboss.tools.bpmn2.process.diagram.EndEvent_2004"/>
            <param name="semanticHint" value="3010"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI">
         <specializationType
               id="org.jboss.tools.bpmn2.process.diagram.IntermediateCatchEvent_3011"
               name="%metatype.name.IntermediateCatchEvent_3011"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.jboss.tools.bpmn2.process.diagram.IntermediateCatchEvent_2010"/>
            <param name="semanticHint" value="3011"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI">
         <specializationType
               id="org.jboss.tools.bpmn2.process.diagram.IntermediateThrowEvent_3012"
               name="%metatype.name.IntermediateThrowEvent_3012"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.jboss.tools.bpmn2.process.diagram.IntermediateThrowEvent_2011"/>
            <param name="semanticHint" value="3012"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI">
         <specializationType
               id="org.jboss.tools.bpmn2.process.diagram.IntermediateCatchEvent_3013"
               name="%metatype.name.IntermediateCatchEvent_3013"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.jboss.tools.bpmn2.process.diagram.IntermediateCatchEvent_2010"/>
            <param name="semanticHint" value="3013"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI">
         <specializationType
               id="org.jboss.tools.bpmn2.process.diagram.DataObject_3014"
               name="%metatype.name.DataObject_3014"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.jboss.tools.bpmn2.process.diagram.DataObject_2014"/>
            <param name="semanticHint" value="3014"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI">
         <specializationType
               id="org.jboss.tools.bpmn2.process.diagram.TextAnnotation_3015"
               name="%metatype.name.TextAnnotation_3015"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.jboss.tools.bpmn2.process.diagram.TextAnnotation_2015"/>
            <param name="semanticHint" value="3015"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI">
         <metamodelType
               id="org.jboss.tools.bpmn2.process.diagram.ScriptTask_3016"
               name="%metatype.name.ScriptTask_3016"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ScriptTask"
               edithelper="org.jboss.tools.bpmn2.process.diagram.edit.helpers.ScriptTaskEditHelper">
            <param name="semanticHint" value="3016"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI">
         <metamodelType
               id="org.jboss.tools.bpmn2.process.diagram.SequenceFlow_4001"
               name="%metatype.name.SequenceFlow_4001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="SequenceFlow"
               edithelper="org.jboss.tools.bpmn2.process.diagram.edit.helpers.SequenceFlowEditHelper">
            <param name="semanticHint" value="4001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI">
         <metamodelType
               id="org.jboss.tools.bpmn2.process.diagram.Association_4002"
               name="%metatype.name.Association_4002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Association"
               edithelper="org.jboss.tools.bpmn2.process.diagram.edit.helpers.AssociationEditHelper">
            <param name="semanticHint" value="4002"/>
         </metamodelType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="org.jboss.tools.bpmn2.process.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="org.jboss.tools.bpmn2.process.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="org.jboss.tools.bpmn2.process.diagram.TypeContext">
         <elementType ref="org.jboss.tools.bpmn2.process.diagram.Process_1000"/>
         <elementType ref="org.jboss.tools.bpmn2.process.diagram.UserTask_2001"/>
         <elementType ref="org.jboss.tools.bpmn2.process.diagram.ServiceTask_2002"/>
         <elementType ref="org.jboss.tools.bpmn2.process.diagram.StartEvent_2003"/>
         <elementType ref="org.jboss.tools.bpmn2.process.diagram.StartEvent_2007"/>
         <elementType ref="org.jboss.tools.bpmn2.process.diagram.EndEvent_2004"/>
         <elementType ref="org.jboss.tools.bpmn2.process.diagram.ExclusiveGateway_2005"/>
         <elementType ref="org.jboss.tools.bpmn2.process.diagram.ParallelGateway_2006"/>
         <elementType ref="org.jboss.tools.bpmn2.process.diagram.EndEvent_2008"/>
         <elementType ref="org.jboss.tools.bpmn2.process.diagram.EndEvent_2009"/>
         <elementType ref="org.jboss.tools.bpmn2.process.diagram.IntermediateCatchEvent_2010"/>
         <elementType ref="org.jboss.tools.bpmn2.process.diagram.IntermediateThrowEvent_2011"/>
         <elementType ref="org.jboss.tools.bpmn2.process.diagram.IntermediateCatchEvent_2012"/>
         <elementType ref="org.jboss.tools.bpmn2.process.diagram.IntermediateCatchEvent_2013"/>
         <elementType ref="org.jboss.tools.bpmn2.process.diagram.DataObject_2014"/>
         <elementType ref="org.jboss.tools.bpmn2.process.diagram.TextAnnotation_2015"/>
         <elementType ref="org.jboss.tools.bpmn2.process.diagram.SubProcess_2016"/>
         <elementType ref="org.jboss.tools.bpmn2.process.diagram.ScriptTask_2017"/>
         <elementType ref="org.jboss.tools.bpmn2.process.diagram.SubProcess_3001"/>
         <elementType ref="org.jboss.tools.bpmn2.process.diagram.UserTask_3002"/>
         <elementType ref="org.jboss.tools.bpmn2.process.diagram.ServiceTask_3004"/>
         <elementType ref="org.jboss.tools.bpmn2.process.diagram.StartEvent_3003"/>
         <elementType ref="org.jboss.tools.bpmn2.process.diagram.StartEvent_3005"/>
         <elementType ref="org.jboss.tools.bpmn2.process.diagram.EndEvent_3006"/>
         <elementType ref="org.jboss.tools.bpmn2.process.diagram.ExclusiveGateway_3007"/>
         <elementType ref="org.jboss.tools.bpmn2.process.diagram.ParallelGateway_3008"/>
         <elementType ref="org.jboss.tools.bpmn2.process.diagram.EndEvent_3009"/>
         <elementType ref="org.jboss.tools.bpmn2.process.diagram.EndEvent_3010"/>
         <elementType ref="org.jboss.tools.bpmn2.process.diagram.IntermediateCatchEvent_3011"/>
         <elementType ref="org.jboss.tools.bpmn2.process.diagram.IntermediateThrowEvent_3012"/>
         <elementType ref="org.jboss.tools.bpmn2.process.diagram.IntermediateCatchEvent_3013"/>
         <elementType ref="org.jboss.tools.bpmn2.process.diagram.DataObject_3014"/>
         <elementType ref="org.jboss.tools.bpmn2.process.diagram.TextAnnotation_3015"/>
         <elementType ref="org.jboss.tools.bpmn2.process.diagram.ScriptTask_3016"/>
         <elementType ref="org.jboss.tools.bpmn2.process.diagram.SequenceFlow_4001"/>
         <elementType ref="org.jboss.tools.bpmn2.process.diagram.Association_4002"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="org.jboss.tools.bpmn2.process.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="org.jboss.tools.bpmn2.process.diagram"
           properties="isURIEditorInput"
           class="org.jboss.tools.bpmn2.process.diagram.part.Bpmn2UriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="org.jboss.tools.bpmn2.process.diagram.resourceContent"/>
			<contentExtension pattern="org.jboss.tools.bpmn2.process.diagram.domainResourceContent"/>
            <contentExtension pattern="org.jboss.tools.bpmn2.process.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="org.jboss.tools.bpmn2.process.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="org.jboss.tools.bpmn2.process.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="org.jboss.tools.bpmn2.process.diagram.navigator.Bpmn2NavigatorContentProvider" 
            labelProvider="org.jboss.tools.bpmn2.process.diagram.navigator.Bpmn2NavigatorLabelProvider"
            icon="icons/obj16/Bpmn2DiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="jbpmn"/>
               </and>
               <instanceof value="org.jboss.tools.bpmn2.process.diagram.navigator.Bpmn2AbstractNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="org.jboss.tools.bpmn2.process.diagram.navigator.Bpmn2AbstractNavigatorItem"/>
            </or>
         </possibleChildren>
         <commonSorter 
               id="org.jboss.tools.bpmn2.process.diagram.navigatorSorter" 
               class="org.jboss.tools.bpmn2.process.diagram.navigator.Bpmn2NavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="jbpmn"/>
                  </and>
                  <instanceof value="org.jboss.tools.bpmn2.process.diagram.navigator.Bpmn2AbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="org.jboss.tools.bpmn2.process.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="org.jboss.tools.bpmn2.process.diagram.navigator.Bpmn2DomainNavigatorContentProvider" 
            labelProvider="org.jboss.tools.bpmn2.process.diagram.navigator.Bpmn2DomainNavigatorLabelProvider"
            icon="icons/obj16/Bpmn2DiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="jbpmn"/>
               </and>
               <instanceof value="org.jboss.tools.bpmn2.process.diagram.navigator.Bpmn2DomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="org.jboss.tools.bpmn2.process.diagram.navigator.Bpmn2DomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="org.jboss.tools.bpmn2.process.diagram.navigatorActionProvider"
            class="org.jboss.tools.bpmn2.process.diagram.navigator.Bpmn2NavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="org.jboss.tools.bpmn2.process.diagram.navigator.Bpmn2AbstractNavigatorItem"/>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="org.jboss.tools.bpmn2.process.diagram.navigatorLinkHelper"
            class="org.jboss.tools.bpmn2.process.diagram.navigator.Bpmn2NavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="org.jboss.tools.bpmn2.process.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="org.jboss.tools.bpmn2.process.diagram.navigator.Bpmn2AbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="org.jboss.tools.bpmn2.process.diagram.part.Bpmn2DiagramUpdateCommand"
         description="%update.diagram.description"
         id="org.jboss.tools.bpmn2.process.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="org.jboss.tools.bpmn2.process.diagram.updateDiagram"
         contextId="org.jboss.tools.bpmn2.process.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="org.jboss.tools.bpmn2.process.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="org.jboss.tools.bpmn2.process.diagram.part.Bpmn2DiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="org.jboss.tools.bpmn2.process.diagram.edit.parts.ProcessEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="org.jboss.tools.bpmn2.process.diagram.part.Bpmn2DiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="org.jboss.tools.bpmn2.process.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="org.jboss.tools.bpmn2.process.diagram.part.Bpmn2DiagramEditorID"
         defaultHandler="org.jboss.tools.bpmn2.process.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <newWizardShortcut
               id="org.jboss.tools.bpmn2.process.diagram.part.Bpmn2CreationWizardID">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.jboss.tools.bpmn2"
            name="BPMN 2.0"/>
      <view
            category="org.jboss.tools.bpmn2"
            class="org.jboss.tools.bpmn2.view.Bpmn2Details"
            icon="icons/obj16/jbpm_icon_16.png"
            id="org.jboss.tools.bpmn2.details"
            name="Details"
            restorable="true">
      </view>
      <view
            category="org.jboss.tools.bpmn2"
            class="org.jboss.tools.bpmn2.view.Bpmn2Definitions"
            icon="icons/obj16/jbpm_icon_16.png"
            id="org.jboss.tools.bpmn2.definitions"
            name="Definitions"
            restorable="true">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="BPMN 2.0"
            icon="icons/obj16/jbpm_icon_16.png"
            class="org.jboss.tools.bpmn2.Bpmn2PerspectiveFactory"
            id="org.jboss.tools.bpmn2">
         <description>
            A perspective to facilitate creation of jBPM JPDL process definitions.
         </description>
      </perspective>
   </extension>
   
   <!-- optionally, specify keybindings -->
</plugin>
