<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.wst.common.project.facet.core.facets">
      
      <category id="portlet.category">
    	<label>JBoss Portlets</label>
    	<description>JBoss Portlets</description>
  	  </category>
  	  
      <project-facet id="jboss.portlet">
    	<label>JBoss Core Portlet</label>
    	<description>
      		Adds support for the Java Portlet API.
    	</description>
    	<member category="portlet.category "/>
    	<default-version version="2.0"/>
  	  </project-facet>
  	  
  	  <project-facet-version facet="jboss.portlet" version="1.0">
      	<constraint>
        	<and>
          		<requires facet="jst.java" version="[5.0"/>
          		<requires facet="jst.web" version="[2.3"/>
        	</and>
      	</constraint>
      </project-facet-version>
      
      <project-facet-version facet="jboss.portlet" version="2.0">
      	<constraint>
        	<and>
          		<requires facet="jst.java" version="[5.0"/>
          		<requires facet="jst.web" version="[2.5"/>
        	</and>
      	</constraint>
      </project-facet-version>
      
      <action id="jboss.portlet.install" facet="jboss.portlet" type="INSTALL" version="[1.0">
      	<delegate class="org.jboss.tools.portlet.core.internal.project.facet.PortletFacetInstallDelegate"/>
        <config-factory class="org.jboss.tools.portlet.core.internal.project.facet.PortletFacetInstallDataModelProvider"/>
      </action>  
      
      <action id="jboss.portlet.uninstall" facet="jboss.portlet" type="UNINSTALL" version="[1.0" >
	 	<delegate class="org.jboss.tools.portlet.core.internal.project.facet.PortletFacetUninstallDelegate"/>
 	  </action>
      
   </extension>

   <!--
   <extension
        point="org.eclipse.wst.common.project.facet.core.presets">
     <static-preset id="preset.jboss.portlet.v20">
	    <label>Portlet Project v2.0</label>
	    <facet id="jst.java" version="5.0" />
	    <facet id="jst.web" version="2.5"/>
	    <facet id="jboss.portlet" version="2.0" />
        <description>Portlet Project v2.0</description>
     </static-preset>
   </extension>
   
   <extension
        point="org.eclipse.wst.common.project.facet.core.presets">
     <dynamic-preset id="preset.jboss.portlet.v10">
       <factory class="org.jboss.tools.portlet.core.internal.project.facet.PortletConfigurationPresetFactory10"/>
     </dynamic-preset>
   </extension>
   -->
   <!--
   <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    	<supported>
			<runtime-component any="true"/>
        		<facet id="jboss.portlet" version="1.0,2.0"/> 
    	</supported>
   </extension>
   -->
   
   <extension
        point="org.eclipse.wst.common.project.facet.core.listeners">
     <listener
           class="org.jboss.tools.portlet.core.internal.project.facet.PortletFacetPrimaryRuntimeChangedListener"
           eventTypes="PRIMARY_RUNTIME_CHANGED">
     </listener>
   </extension>
   
   <extension point="org.eclipse.jdt.core.classpathContainerInitializer">
     <classpathContainerInitializer class="org.jboss.tools.portlet.core.internal.Portlet20LibrariesContainerInitializer"
      id="org.jboss.tools.portlet.core.internal.portletlibrarycontainer.v20"/>
   </extension>
  
   <extension point="org.eclipse.jdt.core.classpathContainerInitializer">
     <classpathContainerInitializer class="org.jboss.tools.portlet.core.internal.PortletRuntimeLibrariesContainerInitializer"
      id="org.jboss.tools.portlet.core.internal.portletlibrarycontainer.runtime"/>
   </extension>
   
   <extension point="org.eclipse.wst.common.project.facet.core.facets">
      
      <project-facet id="jboss.jsfportlet">
    	<label>JBoss JSF Portlet</label>
    	<description>
      		Adds support for the JSF Portlet.
    	</description>
    	<member category="portlet.category "/>
    	<default-version version="1.0"/>
  	  </project-facet>
  	  
  	  <project-facet-version facet="jboss.jsfportlet" version="1.0">
      	<constraint>
        	<and>
          		<requires facet="jst.java" version="[5.0"/>
          		<requires facet="jst.web" version="[2.3"/>
          		<requires facet="jboss.portlet" version="[1.0"/>
          		<requires facet="jst.jsf" version="[1.2"/>
        	</and>
      	</constraint>
      </project-facet-version>
      
      <action id="jboss.jsfportlet.install" facet="jboss.jsfportlet" type="INSTALL" version="1.0">
      	<delegate class="org.jboss.tools.portlet.core.internal.project.facet.JSFPortletFacetInstallDelegate"/>
        <config-factory class="org.jboss.tools.portlet.core.internal.project.facet.JSFPortletFacetInstallDataModelProvider"/>
      </action>  
      
      <action id="jboss.jsfportlet.uninstall" facet="jboss.jsfportlet" type="UNINSTALL" version="1.0" >
	 	<delegate class="org.jboss.tools.portlet.core.internal.project.facet.JSFPortletFacetUninstallDelegate"/>
 	  </action>
      
   </extension>

   <!--
   <extension
        point="org.eclipse.wst.common.project.facet.core.presets">
     <static-preset id="preset.jboss.jsfportlet.v20">
	    <label>JBoss JSF Portlet Project v2.0</label>
	    <facet id="jst.java" version="5.0" />
	    <facet id="jst.web" version="2.5"/>
	    <facet id="jst.jsf" version="1.2"/>
	    <facet id="jboss.portlet" version="2.0" />
	    <facet id="jboss.jsfportlet" version="1.0" />
        <description>JBoss JSF Portlet Project v2.0</description>
     </static-preset>
   </extension>
   
   <extension
        point="org.eclipse.wst.common.project.facet.core.presets">
     <dynamic-preset id="preset.jboss.jsfportlet.v10">
       <factory class="org.jboss.tools.portlet.core.internal.project.facet.JSFPortletConfigurationPresetFactory10"/>
     </dynamic-preset>
   </extension>
   -->
   
   <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
  		<runtime-component-type id="org.jboss.tools.portlet.core.runtime.component"/>
  		<runtime-component-version type="org.jboss.tools.portlet.core.runtime.component" version="1.0"/>
  		<supported>
    		<runtime-component id="org.jboss.tools.portlet.core.runtime.component" version="1.0"/>
    		<facet id="jboss.portlet" version="1.0,2.0"/>
    		<facet id="jboss.jsfportlet" version="1.0"/>
    		<facet id="jboss.seamportlet" version="1.0"/>
  		</supported>
   </extension>
   
   <!--
   	<extension point="org.eclipse.jst.server.core.internalRuntimeComponentProviders">
  		<runtimeComponentProvider
    		id="org.jboss.tools.portlet.core.runtimes"
    		class="org.jboss.tools.portlet.core.internal.PortletRuntimeComponentProvider"
    		runtimeTypeIds="org.jboss.ide.eclipse.as.runtime.*,org.eclipse.jst.server.tomcat.runtime.*"/>
	</extension>
   -->
   
   <extension point="org.eclipse.jst.server.core.internalRuntimeComponentProviders">
  		<runtimeComponentProvider
    		id="org.jboss.tools.portlet.core.runtimes"
    		class="org.jboss.tools.portlet.core.internal.PortletRuntimeComponentProvider"
    		runtimeTypeIds="*"/>
	</extension>
	
   <!--  
   <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    	<supported>
			<runtime-component any="true"/>
        		<facet id="jboss.portlet" version="1.0,2.0"/>
    			<facet id="jboss.jsfportlet" version="1.0"/>
    			<facet id="jboss.seamportlet" version="1.0"/>
    	</supported>
   </extension>
   -->
   
   <extension point="org.eclipse.jdt.core.classpathContainerInitializer">
     <classpathContainerInitializer class="org.jboss.tools.portlet.core.internal.JSFPortlet10LibrariesContainerInitializer"
      id="org.jboss.tools.portlet.core.internal.jsfportletlibrarycontainer.v10"/>
   </extension>
   
   <extension point="org.eclipse.wst.common.project.facet.core.facets">
      
      <project-facet id="jboss.seamportlet">
    	<label>JBoss Seam Portlet</label>
    	<description>
      		Adds support for the Seam Portlet.
    	</description>
    	<member category="portlet.category "/>
    	<default-version version="1.0"/>
  	  </project-facet>
  	  
  	  <project-facet-version facet="jboss.seamportlet" version="1.0">
      	<constraint>
        	<and>
          		<requires facet="jst.java" version="[5.0"/>
          		<requires facet="jst.web" version="[2.3"/>
          		<requires facet="jboss.portlet" version="[1.0"/>
          		<requires facet="jboss.jsfportlet" version="[1.0"/>
          		<requires facet="jst.jsf" version="[1.2"/>
          		<requires facet="jst.seam" version="[2.0"/>
        	</and>
      	</constraint>
      </project-facet-version>
      
      <action id="jboss.seamportlet.install" facet="jboss.seamportlet" type="INSTALL" version="1.0">
      	<delegate class="org.jboss.tools.portlet.core.internal.project.facet.SeamPortletFacetInstallDelegate"/>
        <config-factory class="org.jboss.tools.portlet.core.internal.project.facet.SeamPortletFacetInstallDataModelProvider"/>
      </action>  
      
      <action id="jboss.seamportlet.uninstall" facet="jboss.seamportlet" type="UNINSTALL" version="1.0" >
	 	<delegate class="org.jboss.tools.portlet.core.internal.project.facet.SeamPortletFacetUninstallDelegate"/>
 	  </action>
      
   </extension>

   <extension
        point="org.eclipse.wst.common.project.facet.core.presets">
     <static-preset id="preset.jboss.seamportlet.v20">
	    <label>JBoss Seam Portlet Project v2.0</label>
	    <facet id="jst.java" version="5.0" />
	    <facet id="jst.web" version="2.5"/>
	    <facet id="jst.jsf" version="1.2"/>
	    <facet id="jboss.portlet" version="2.0" />
	    <facet id="jboss.jsfportlet" version="1.0" />
	    <facet id="jboss.seamportlet" version="1.0" />
	    <facet id="jst.seam" version="2.0" />
        <description>JBoss Seam Portlet Project v2.0</description>
     </static-preset>
   </extension>
   
   <!--
   <extension
        point="org.eclipse.wst.common.project.facet.core.presets">
     <dynamic-preset id="preset.jboss.seamportlet.v10">
       <factory class="org.jboss.tools.portlet.core.internal.project.facet.SeamPortletConfigurationPresetFactory10"/>
     </dynamic-preset>
   </extension>
   -->
   <!--
   <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    	<supported>
			<runtime-component any="true"/>
        		<facet id="jboss.seamportlet" version="1.0"/> 
    	</supported>
   </extension>
   -->
   
   <!--
   <extension point="org.eclipse.jdt.core.classpathContainerInitializer">
     <classpathContainerInitializer class="org.jboss.tools.portlet.core.internal.SeamPortlet10LibrariesContainerInitializer"
      id="org.jboss.tools.portlet.core.internal.seamportletlibrarycontainer.v10"/>
   </extension>
   -->
   
   <extension point="org.eclipse.wst.xml.core.catalogContributions">
        <catalogContribution id="default">
            <public
                publicId="-//JBoss Portal//DTD Portlet Instances 2.6//EN"
                uri="dtdsAndSchemas/portlet-instances_2_6.dtd"
                webURL="http://www.jboss.org/portal/dtd/portlet-instances_2_6.dtd" />
            <public
                publicId="-//JBoss Portal//DTD Portal Object 2.6//EN"
                uri="dtdsAndSchemas/portal-object_2_6.dtd"
                webURL="http://www.jboss.org/portal/dtd/portal-object_2_6.dtd" />
            <public
                publicId="-//JBoss Portal//DTD JBoss Portlet 2.6//EN"
                uri="dtdsAndSchemas/jboss-portlet_2_6.dtd"
                webURL="http://www.jboss.org/portal/dtd/jboss-portlet_2_6.dtd" />
                
            <public
                publicId="-//JBoss Portal//DTD JBoss Web Application 2.6//EN"
                uri="dtdsAndSchemas/jboss-app_2_6.dtd"
                webURL="http://www.jboss.org/portal/dtd/jboss-app_2_6.dtd" />
            
            <uri
                name="http://java.sun.com/xml/ns/portlet/portlet-app_1_0.xsd"
                uri="dtdsAndSchemas/portlet-app_1_0.xsd" />
            
            <uri
                name="http://java.sun.com/xml/ns/portlet/portlet-app_2_0.xsd"
                uri="dtdsAndSchemas/portlet-app_2_0.xsd" />
        </catalogContribution>

    </extension>
    
    <extension point="org.eclipse.wst.common.project.facet.core.listeners">
  		<listener class="org.jboss.tools.portlet.core.internal.project.facet.PortletPostInstallListener" 
  		eventTypes="POST_INSTALL"/>
	</extension>
	
	<extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.jboss.tools.portlet.core.preferences.JBossPortletPreferencesInitializer"/>
   </extension>
	
</plugin>
