<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
    
    <!-- the application context definition for the springapp DispatcherServlet -->
    
    <bean name="/form.htm" class="org.jboss.tools.vpe.spring.test.springtest.FormController"/>
    <bean name="/checkbox.htm" class="org.jboss.tools.vpe.spring.test.springtest.FormController"/>
    <bean name="/checkboxes.htm" class="org.jboss.tools.vpe.spring.test.springtest.FormController"/>
    <bean name="/radiobutton.htm" class="org.jboss.tools.vpe.spring.test.springtest.FormController"/>
    <bean name="/radiobuttons.htm" class="org.jboss.tools.vpe.spring.test.springtest.FormController"/>
    <bean name="/option.htm" class="org.jboss.tools.vpe.spring.test.springtest.FormController"/>
    <bean name="/options.htm" class="org.jboss.tools.vpe.spring.test.springtest.FormController"/>
    <bean name="/errors.htm" class="org.jboss.tools.vpe.spring.test.springtest.controller.ErrorsController">
    	<property name="validator" ref="fieldValidator"/>
    </bean>
    <bean name="/select.htm" class="org.jboss.tools.vpe.spring.test.springtest.FormController"/>
    <bean name="/escapeBody.htm" class="org.jboss.tools.vpe.spring.test.springtest.FormController"/>
    <bean id="fieldValidator" class="org.jboss.tools.vpe.spring.test.springtest.validator.FieldValidator"/>
    
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"></property>
        <property name="suffix" value=".jsp"></property>        
    </bean>
</beans>
