<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.jboss.ide.eclipse.jdt.j2ee.xml.core"
   name="%plugin.name"
   version="1.5.0.m1"
   provider-name="%plugin.provider"
   class="org.jboss.ide.eclipse.jdt.j2ee.xml.core.JDTJ2EEXMLCorePlugin">

   <runtime>
      <library name="org-jboss-ide-eclipse-jdt-j2ee-xml-core.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.jboss.ide.eclipse.core"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.jface"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.jboss.ide.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.apache.ant"/>
      <import plugin="org.apache.xalan"/>
      <import plugin="org.jboss.ide.eclipse.jdt.j2ee.core"/>
      <import plugin="org.jboss.ide.eclipse.jdt.test.core"/>
      <import plugin="org.jboss.ide.eclipse.jdt.xml.core"/>
   </requires>

</plugin>
