eclipse.archive.path=PATH_TO_ECLIPSE_ARCHIVES
ssh.key=PATH_TO_PRIVATE_SSH_KEY
ssh.passphrase=PRIVATE_SSH_KEY_PASSPHRASE
build.output.directory=PATH_TO_BUILD_OUTPUT_DIRECTORY
clean.eclipse.home=PATH_TO_CLEAN_ECLIPSE_INSTALLATION
releng.root=ABSOLUTE_PATH_TO_RELENG_PROJECT_ROOT