<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.jboss.tools.smooks.configuration.editors.SmooksMultiFormEditor"
            contributorClass="org.jboss.tools.smooks.configuration.editors.SmooksActionBarContributor"
            icon="icons/smooks-sm.gif"
            id="org.jboss.tools.smooks.configuration.editors.MultiPageEditor"
            name="Smooks Configuration Editor">
         <contentTypeBinding
               contentTypeId="org.jboss.tools.smooks.ui.smooks.contentType">
         </contentTypeBinding>
      </editor>
      <editor
            class="org.jboss.tools.smooks.edimap.editor.EDIMapFormEditor"
            icon="icons/edi-mapping.gif"
            id="org.jboss.tools.smooks.edimap.editors.MultiPageEditor"
            name="EDI Message Mapping Editor">
         <contentTypeBinding
               contentTypeId="org.jboss.tools.smooks.ui.edimap.contentType">
         </contentTypeBinding>
      </editor>
      <editor
            class="org.jboss.tools.smooks.configuration.editors_10.Smooks10MultiFormEditor"
            contributorClass="org.jboss.tools.smooks.configuration.editors.SmooksActionBarContributor"
            icon="icons/smooks-sm.gif"
            id="org.jboss.tools.smooks.configuration.editors.MultiPageEditor_1_0"
            name="Smooks Configuration Editor">
         <contentTypeBinding
               contentTypeId="org.jboss.tools.smooks.ui.smooks1_0.contentType">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Smooks"
            id="org.jboss.tools.smooks.configuration">
      </category>
      <wizard
            name="Smooks Configuration File"
            icon="icons/smooks-sm.gif"
            category="org.jboss.tools.smooks.configuration"
            class="org.jboss.tools.smooks.configuration.wizards.SmooksConfigurationFileNewWizard"
            id="org.jboss.tools.smooks.configuration.wizards.NewConfigurationFileWizard">
      </wizard>
      <wizard
            category="org.jboss.tools.smooks.configuration"
            class="org.jboss.tools.smooks.edimap.wizard.EDIMappingConfigFileWizard"
            icon="icons/edi-mapping.gif"
            id="org.jboss.tools.smooks.configuration.wizards.NewEDIMappingConfigurationFileWizard"
            name="EDI Message Mapping Configuration File">
      </wizard>
   </extension>
   
    <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            describer="org.jboss.tools.smooks.configuration.editors.SmooksConfigfileContentDescriber"
            file-extensions="xml"
            id="org.jboss.tools.smooks.ui.smooks.contentType"
            name="Smooks Configuration File"
            priority="low">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            describer="org.jboss.tools.smooks.edimap.editor.EDIMapFileContentDescriber"
            file-extensions="xml"
            id="org.jboss.tools.smooks.ui.edimap.contentType"
            name="EDI Map File"
            priority="low">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            describer="org.jboss.tools.smooks.configuration.editors_10.Smooks10ConfigfileContentDescriber"
            file-extensions="xml"
            id="org.jboss.tools.smooks.ui.smooks1_0.contentType"
            name="Smooks Configuration File"
            priority="low">
      </content-type>
   </extension>
    <extension
          point="org.eclipse.ui.startup">
       <startup
             class="org.jboss.tools.smooks.configuration.editors.SmooksToolsStartup">
       </startup>
    </extension>
    <extension
          point="org.eclipse.ui.decorators">
       <decorator
             adaptable="false"
             class="org.jboss.tools.smooks.configuration.validate.ValidateResultLabelDecorator"
             id="org.jboss.tools.smooks.ui.configurationPage.decorator"
             label="Smooks Configuration Page Viewer Decorator"
             lightweight="true"
             state="false">
          <description>
             Decorate smooks configuration page viewer
          </description>
          <enablement>
             <or>
                <objectClass
                      name="org.eclipse.emf.edit.provider.IWrapperItemProvider">
                </objectClass>
                <objectClass
                      name="org.jboss.tools.smooks.model.common.AbstractAnyType">
                </objectClass>
                <objectClass
                      name="org.eclipse.emf.ecore.util.FeatureMap$Entry">
                </objectClass>
                <objectClass
                      name="org.jboss.tools.smooks10.model.smooks.AbstractType">
                </objectClass>
                <objectClass
                      name="org.eclipse.emf.ecore.EObject">
                </objectClass>
             </or>
          </enablement>
       </decorator>
    </extension>
    <extension
          id="problem"
          name="Smooks Problem"
          point="org.eclipse.core.resources.markers">
       <persistent
             value="true">
       </persistent>
       <super
             type="org.eclipse.core.resources.problemmarker">
       </super>
       <attribute
             name="uri">
       </attribute>
    </extension>
    <extension
          id="org.jboss.tools.smooks.configuration.validator"
          name="Smooks File Validator"
          point="org.eclipse.wst.validation.validatorV2">
       <validator
             build="true"
             class="org.jboss.tools.smooks.configuration.validate.SmooksModelValidator"
             manual="true"
             version="1">
          <include>
             <rules>
                <contentType
                      exactMatch="true"
                      id="org.jboss.tools.smooks.ui.smooks.contentType">
                </contentType>
                <contentType
                      exactMatch="true"
                      id="org.jboss.tools.smooks.ui.edimap.contentType">
                </contentType>
                <contentType
                      exactMatch="true"
                      id="org.jboss.tools.smooks.ui.smooks1_0.contentType">
                </contentType>
             </rules>
          </include>
       </validator>
    </extension>
    <extension
          point="org.eclipse.ui.views.properties.tabbed.propertySections">
       <propertySections
             contributorId="org.jboss.tools.smooks.configuration.editors.MultiPageEditor">
          <propertySection
                class="org.jboss.tools.smooks.editor.propertySections.SmooksPropertySection"
                filter="org.jboss.tools.smooks.editor.propertySections.SmooksPropertySectionFilter"
                id="org.jboss.tools.smooks.ui.propertySection.properties"
                tab="org.jboss.tools.smooks.ui.propertySection.propertiesTab">
          </propertySection>
          <propertySection
                class="org.jboss.tools.smooks.editor.propertySections.ValidationSection"
                filter="org.jboss.tools.smooks.editor.propertySections.ValidationSectionFilter"
                id="org.jboss.tools.smooks.ui.propertySection.validation"
                tab="org.jboss.tools.smooks.ui.propertySection.validationTab">
          </propertySection>
          <propertySection
                class="org.jboss.tools.smooks.editor.propertySections.RuleBaseSection"
                filter="org.jboss.tools.smooks.editor.propertySections.RuleBaseSectionFilter"
                id="org.jboss.tools.smooks.ui.propertySection.ruleBases"
                tab="org.jboss.tools.smooks.ui.propertySection.ruleBasesTab">
          </propertySection>
          <propertySection
                class="org.jboss.tools.smooks.editor.propertySections.ValueDecodeParamSection"
                filter="org.jboss.tools.smooks.editor.propertySections.ValueDecodeParamSectionFilter"
                id="org.jboss.tools.smooks.ui.propertySection.decodeParam"
                tab="org.jboss.tools.smooks.ui.propertySection.decodeParamTab">
          </propertySection>
          <propertySection
                class="org.jboss.tools.smooks.editor.propertySections.CSVRecordSection"
                filter="org.jboss.tools.smooks.editor.propertySections.CSVRecordSectionFilter"
                id="org.jboss.tools.smooks.ui.propertySection.csvrecord"
                tab="org.jboss.tools.smooks.ui.propertySection.csvrecordTab">
          </propertySection>
       </propertySections>
    </extension>
    <extension
          point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
       <propertyTabs
             contributorId="org.jboss.tools.smooks.configuration.editors.MultiPageEditor">
          <propertyTab
                category="properties"
                id="org.jboss.tools.smooks.ui.propertySection.propertiesTab"
                label="Properties">
          </propertyTab>
          <propertyTab
                afterTab="org.jboss.tools.smooks.ui.propertySection.ruleBasesTab"
                category="validation"
                id="org.jboss.tools.smooks.ui.propertySection.validationTab"
                label="Validation">
          </propertyTab>
          <propertyTab
                category="validation"
                id="org.jboss.tools.smooks.ui.propertySection.ruleBasesTab"
                label="Rule Bases">
          </propertyTab>
          <propertyTab
                afterTab="org.jboss.tools.smooks.ui.propertySection.propertiesTab"
                category="properties"
                id="org.jboss.tools.smooks.ui.propertySection.decodeParamTab"
                label="Decode Parameter">
          </propertyTab>
          <propertyTab
                afterTab="org.jboss.tools.smooks.ui.propertySection.propertiesTab"
                category="properties"
                id="org.jboss.tools.smooks.ui.propertySection.csvrecordTab"
                label="CSV Record Properties">
          </propertyTab>
       </propertyTabs>
    </extension>
    <extension
          point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
       <propertyContributor
             contributorId="org.jboss.tools.smooks.configuration.editors.MultiPageEditor">
          <propertyCategory
                category="properties"></propertyCategory>
          <propertyCategory
                category="validation">
          </propertyCategory>
       </propertyContributor>
    </extension>

	<extension
       point="org.eclipse.debug.core.launchConfigurationTypes">
	    <launchConfigurationType
	        name="Smooks Configuration"
	        delegate="org.jboss.tools.smooks.launch.SmooksLaunchConfigurationDelegate"
	        modes="run"               
	        id="org.jboss.tools.smooks.ui.smooksLauncher">        
	    </launchConfigurationType>
	</extension>
	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
	    <launchConfigurationTypeImage
	        icon="icons/smooks-sm.gif"
	        configTypeID="org.jboss.tools.smooks.ui.smooksLauncher"
	        id="org.jboss.tools.smooks.ui.launchConfigurationTypeImage.smooksLauncher">
	    </launchConfigurationTypeImage>
	</extension>
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
	    <launchConfigurationTabGroup
	        type="org.jboss.tools.smooks.ui.smooksLauncher"
	        class="org.jboss.tools.smooks.launch.SmooksLaunchTabGroup"
	        id="org.jboss.tools.smooks.ui.launchConfigurationTabGroup.smooksLauncher">
	    </launchConfigurationTabGroup>
	</extension>
 
</plugin>
