<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="Example4Views">
      </category>
      <view
            name="Table / List View"
            icon="icons/sample.gif"
            category="Example4Views"
            class="example4Views.views.TableView"
            id="example4Views.views.TableView">
      </view>
      <view
            name="Tree View"
            icon="icons/sample.gif"
            category="Example4Views"
            class="example4Views.views.TreeView"
            id="example4Views.views.TreeView">
      </view>
      <view
            name="SWT View"
            icon="icons/sample.gif"
            category="Example4Views"
            class="example4Views.views.SWTView"
            id="example4Views.views.SWTView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="example4Views.views.TableView">
         </view>
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="example4Views.views.TreeView">
         </view>
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="example4Views.views.SWTView">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
