<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- Show in remote system explorer handler  -->
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.jboss.tools.deltacloud.integration.rse.util.ShowInRemoteSystemExplorerHandler"
            commandId="org.jboss.tools.deltacloud.integration.rse.showremotesysexplorer">
			<activeWhen>
               <with
                 variable="selection">
					<iterate operator="and">
						<and>
							<adapt
					             type="org.jboss.tools.deltacloud.core.DeltaCloudInstance">
								<test property="org.jboss.tools.deltacloud.ui.commands.isRunning"
									value="true"/>
							</adapt>
						</and>
	               	</iterate>
               </with>
			</activeWhen>
			<enabledWhen>
				<with
					variable="selection">
					<count value="+" />
				</with>
			</enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
        <command
            description="%command.showInRemoteSysExplorer.description"
            id="org.jboss.tools.deltacloud.integration.rse.showremotesysexplorer"
            name="%command.showInRemoteSysExplorer">
      </command>
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.jboss.tools.deltacloud.ui.views.InstanceView?after=additions">	
         <command
               commandId="org.jboss.tools.deltacloud.integration.rse.showremotesysexplorer"
               disabledIcon="icons/system_viewd.gif"
               icon="icons/system_view.gif"
               label="%command.showInRemoteSysExplorer"
               style="push"
               tooltip="%command.showInRemoteSysExplorer.tooltip">
         </command>
      </menuContribution>
   </extension>
   <menuContribution
            allPopups="true"
            locationURI="toolbar:org.jboss.tools.deltacloud.ui.views.InstanceView?after=instances">
         <command
               commandId="org.jboss.tools.deltacloud.integration.rse.showremotesysexplorer"
               disabledIcon="icons/system_viewd.gif"
               icon="icons/system_view.gif"
               label="%command.showInRemoteSysExplorer"
               style="push"
               tooltip="%command.showInRemoteSysExplorer.tooltip">
         </command>
   </menuContribution>
   <extension
         point="org.jboss.tools.deltacloud.ui.newInstanceWizardPage">
      <page
            class="org.jboss.tools.deltacloud.integration.wizard.RSEandASWizardPage"
            id="org.jboss.tools.deltacloud.integration.RSEandASPage">
      </page>
   </extension>	
</plugin>
