<html>
<body>
Abc
	<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
		codebase="http://download.macromedia.com/pub/shockwave/
cabs/flash/swflash.cab#version=6,0,40,0"
		width="468" height="60" id="object1">
		<param name="movie" value="example.swf" />
		<param name="quality" value="high" />
		<param name="bgcolor" value="#ffffff" />
		<embed src="http://www.tizag.com/pics/example.swf" quality="high"
			bgcolor="#ffffff" width="468" height="60" name="mymoviename" align=""
			type="application/x-shockwave-flash"
			pluginspage="http://www.macromedia.com/go/getflashplayer">
	</object>
Def
</body>
</html>
