<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         id="org.jboss.ide.eclipse.ejb3.wizards.ui.NewStatelessSessionBeanWizard"
         point="org.eclipse.ui.newWizards">
      <wizard
            icon="icons/full/ctool16/newclass_wiz.gif"
            class="org.jboss.ide.eclipse.ejb3.ui.wizards.NewSessionBeanWizard"
            category="org.eclipse.jst.ejb.ui"
            name="Session Bean"
            id="org.jboss.ide.eclipse.ejb3.wizards.ui.NewEJB3ProjectWizard"/>
      <wizard
            icon="icons/full/ctool16/newclass_wiz.gif"
            class="org.jboss.ide.eclipse.ejb3.ui.wizards.NewMessageDrivenBeanWizard"
            category="org.eclipse.jst.ejb.ui"
            name="Message Driven Bean"
            id="org.jboss.ide.eclipse.ejb3.wizards.ui.NewMessageDrivenBeanWizard"/>
   </extension>
   

<extension point="org.eclipse.ui.newWizards">
   <wizard
         category="org.eclipse.jst.ejb.ui"
         class="org.jboss.ide.eclipse.ejb3.ui.wizards.Ejb30ProjectWizard"
         id="org.jboss.ide.eclipse.ejb3.ui.wizards.NewEjb30Wizard"
         name="JBoss IDE EJB 3.0 Project"
         project="true"/>
</extension>



</plugin>
