<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.jboss.ide.eclipse.xdoclet.assist"
   name="%plugin.name"
   version="1.5.0"
   provider-name="%plugin.provider"
   class="org.jboss.ide.eclipse.xdoclet.assist.XDocletAssistPlugin">

   <runtime>
      <library name="org-jboss-ide-eclipse-xdoclet-assist.jar">
         <export name="*"/>
      </library>
      <library name="jdom.jar"/>
      <library name="jakarta-oro-2.0.6.jar"/>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.jdt"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.jboss.ide.eclipse.core"/>
      <import plugin="org.jboss.ide.eclipse.ui"/>
      <import plugin="org.jboss.ide.eclipse.xdoclet.core"/>
      <import plugin="org.jboss.ide.eclipse.xdoclet.ui"/>
      <import plugin="org.eclipse.jface.text"/>
   </requires>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%org.jboss.ide.eclipse.xdoclet.assist.ui.XDocletPreferencePage"
            category="org.jboss.ide.eclipse.xdoclet.core.ui.MainPreferencePage"
            class="org.jboss.ide.eclipse.xdoclet.assist.ui.XDocletPreferencePage"
            id="org.jboss.ide.eclipse.xdoclet.assist.ui.XDocletPreferencePage">
      </page>
      <page
            name="%org.jboss.ide.eclipse.xdoclet.assist.ui.VariablesPreferencePage"
            category="org.jboss.ide.eclipse.xdoclet.assist.ui.XDocletPreferencePage"
            class="org.jboss.ide.eclipse.xdoclet.assist.ui.VariablesPreferencePage"
            id="org.jboss.ide.eclipse.xdoclet.assist.ui.VariablesPreferencePage">
      </page>
      <page
            name="%org.jboss.ide.eclipse.xdoclet.assist.ui.TemplatesPreferencePage"
            category="org.jboss.ide.eclipse.xdoclet.assist.ui.XDocletPreferencePage"
            class="org.jboss.ide.eclipse.xdoclet.assist.ui.TemplatesPreferencePage"
            id="org.jboss.ide.eclipse.xdoclet.assist.ui.TemplatesPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.javadocCompletionProcessor">
      <javadocCompletionProcessor
            name="XDocletJavaDocCompletionProcessor"
            class="org.jboss.ide.eclipse.xdoclet.assist.completion.XDocletJavaDocCompletionProcessor"
            id="org.jboss.ide.eclipse.xdoclet.assist.completion.XDocletJavaDocCompletionProcessor">
      </javadocCompletionProcessor>
   </extension>

</plugin>
