<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            name="%org.jboss.ide.eclipse.jdt.j2ee.xml.ui.wizards.NewApplicationXml13PageWizard"
            icon="icons/full/ctool16/newxml_wiz.gif"
            category="org.jboss.ide.eclipse.ui.wizards/org.jboss.ide.eclipse.ui.wizards.descriptors"
            class="org.jboss.ide.eclipse.jdt.j2ee.xml.ui.wizards.NewApplicationXml13PageWizard"
            id="org.jboss.ide.eclipse.jdt.j2ee.xml.ui.wizards.NewApplicationXml13PageWizard">
      </wizard>
      <wizard
            name="EAR 1.4 Deployment Descriptor"
            icon="icons/full/ctool16/newxml_wiz.gif"
            category="org.jboss.ide.eclipse.ui.wizards/org.jboss.ide.eclipse.ui.wizards.descriptors"
            class="org.jboss.ide.eclipse.jdt.j2ee.xml.ui.wizards.NewApplicationXml14PageWizard"
            id="org.jboss.ide.eclipse.jdt.j2ee.xml.ui.wizards.NewApplicationXml14PageWizard">
      </wizard>
      <wizard
            name="%org.jboss.ide.eclipse.jdt.j2ee.xml.ui.wizards.NewConnectorXml10PageWizard"
            icon="icons/full/ctool16/newxml_wiz.gif"
            category="org.jboss.ide.eclipse.ui.wizards/org.jboss.ide.eclipse.ui.wizards.descriptors"
            class="org.jboss.ide.eclipse.jdt.j2ee.xml.ui.wizards.NewConnectorXml10PageWizard"
            id="org.jboss.ide.eclipse.jdt.j2ee.xml.ui.wizards.NewConnectorXml10PageWizard">
      </wizard>
      <wizard
            name="%org.jboss.ide.eclipse.jdt.j2ee.xml.ui.wizards.NewConnectorXml15PageWizard"
            icon="icons/full/ctool16/newxml_wiz.gif"
            category="org.jboss.ide.eclipse.ui.wizards/org.jboss.ide.eclipse.ui.wizards.descriptors"
            class="org.jboss.ide.eclipse.jdt.j2ee.xml.ui.wizards.NewConnectorXml15PageWizard"
            id="org.jboss.ide.eclipse.jdt.j2ee.xml.ui.wizards.NewConnectorXml15PageWizard">
      </wizard>
      <wizard
            name="%org.jboss.ide.eclipse.jdt.j2ee.xml.ui.wizards.NewEjbXml20PageWizard"
            icon="icons/full/ctool16/newxml_wiz.gif"
            category="org.jboss.ide.eclipse.ui.wizards/org.jboss.ide.eclipse.ui.wizards.descriptors"
            class="org.jboss.ide.eclipse.jdt.j2ee.xml.ui.wizards.NewEjbXml20PageWizard"
            id="org.jboss.ide.eclipse.jdt.j2ee.xml.ui.wizards.NewEjbXml20PageWizard">
      </wizard>
      <wizard
            name="%org.jboss.ide.eclipse.jdt.j2ee.xml.ui.wizards.NewEjbXml21PageWizard"
            icon="icons/full/ctool16/newxml_wiz.gif"
            category="org.jboss.ide.eclipse.ui.wizards/org.jboss.ide.eclipse.ui.wizards.descriptors"
            class="org.jboss.ide.eclipse.jdt.j2ee.xml.ui.wizards.NewEjbXml21PageWizard"
            id="org.jboss.ide.eclipse.jdt.j2ee.xml.ui.wizards.NewEjbXml21PageWizard">
      </wizard>
      <wizard
            name="%org.jboss.ide.eclipse.jdt.j2ee.xml.ui.wizards.NewTagLibXml12PageWizard"
            icon="icons/full/ctool16/newxml_wiz.gif"
            category="org.jboss.ide.eclipse.ui.wizards/org.jboss.ide.eclipse.ui.wizards.descriptors"
            class="org.jboss.ide.eclipse.jdt.j2ee.xml.ui.wizards.NewTagLibXml12PageWizard"
            id="org.jboss.ide.eclipse.jdt.j2ee.xml.ui.wizards.NewTagLibXml12PageWizard">
      </wizard>
      <wizard
            name="%org.jboss.ide.eclipse.jdt.j2ee.xml.ui.wizards.NewTagLibXml20PageWizard"
            icon="icons/full/ctool16/newxml_wiz.gif"
            category="org.jboss.ide.eclipse.ui.wizards/org.jboss.ide.eclipse.ui.wizards.descriptors"
            class="org.jboss.ide.eclipse.jdt.j2ee.xml.ui.wizards.NewTagLibXml20PageWizard"
            id="org.jboss.ide.eclipse.jdt.j2ee.xml.ui.wizards.NewTagLibXml20PageWizard">
      </wizard>
      <wizard
            name="%org.jboss.ide.eclipse.jdt.j2ee.xml.ui.wizards.NewWebXml23PageWizard"
            icon="icons/full/ctool16/newxml_wiz.gif"
            category="org.jboss.ide.eclipse.ui.wizards/org.jboss.ide.eclipse.ui.wizards.descriptors"
            class="org.jboss.ide.eclipse.jdt.j2ee.xml.ui.wizards.NewWebXml23PageWizard"
            id="org.jboss.ide.eclipse.jdt.j2ee.xml.ui.wizards.NewWebXml23PageWizard">
      </wizard>
      <wizard
            name="%org.jboss.ide.eclipse.jdt.j2ee.xml.ui.wizards.NewWebXml24PageWizard"
            icon="icons/full/ctool16/newxml_wiz.gif"
            category="org.jboss.ide.eclipse.ui.wizards/org.jboss.ide.eclipse.ui.wizards.descriptors"
            class="org.jboss.ide.eclipse.jdt.j2ee.xml.ui.wizards.NewWebXml24PageWizard"
            id="org.jboss.ide.eclipse.jdt.j2ee.xml.ui.wizards.NewWebXml24PageWizard">
      </wizard>
   </extension>

</plugin>
