@import url("jbossenterprise.css");

/* -----Override jbossenterprise-single.css----- */

body {
background-image:url(../images/jbds_label2.png);
background-repeat:no-repeat;
background-attachment:fixed;
background-position:top left;
z-index:1;
text-align:center;
font-family:"Lucida Grande", verdana, "Luxi Sans","Trebuchet MS", helvetica,verdana,arial,sans-serif;

  }

div#overlay{
background-repeat:repeat-x;
width:100%;
height:100%;
position:absolute;
top:0px;
left:0px;
z-index:-1;
}

ol {
padding-left: 25px;
}

p {
text-align: left;
}
.othercredit h3 {font-size: 12px;}
/*

body {
background-image:url(../images/jbds_label2.png);
background-repeat:no-repeat;
background-attachment:fixed;
background-position:top left;
z-index:1;
color:#333333;
font-family:'Lucida Grande',Geneva,Verdana,Arial,sans-serif;
font-size:12px;
line-height:150%;
max-width:1000px;
padding:0em 2em;
text-align:center;
}

div#overlay{
background-repeat:repeat-x;
width:100%;
height:100%;
position:absolute;
top:0px;
left:0px;
z-index:-1;
}
*/
code{
color:#000000;
font-size:12px;
font-family:courier;
} 

div.book, div.chapter{
    text-align:justify;
    width: 70em;
    /*margin-left:50px;*/
}

div.abstract {
font-size:10px;
}

ul.docnav {
    margin:0px;
    width: 70em;
    ! height:40px; /* CSS hack for IE*/
    display:block;
}

#title a.site_href, #title a.doc_href{
display:block;
height:100px;
} 

#title a.site_href {
background:transparent url(../images/enterprise/jbossdivisionlogo.png) no-repeat scroll left top;
! background:none; /* CSS hack for IE*/
! filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/enterprise/jbossdivisionlogo.png'); /* CSS hack for IE*/
float:left;
width:310px;
}

#title a.doc_href {
background:transparent url(../images/enterprise/enterprise_doc.png) no-repeat scroll right top;
! background:none; /* CSS hack for IE*/
! filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/enterprise/enterprise_doc.png'); /* CSS hack for IE*/
margin-top:5px;
}

#title{
text-align:right;
}

.new, .added { 
background:transparent url(../images/new.png) no-repeat scroll right top; 
padding-right:70px; 
} 
.updated, .changed { 
background:transparent url(../images/updated.png) no-repeat scroll right top; 
padding-right:70px; 
}
span.diffmkwrapper{
	background-color: #cce2f6;
}

div.diffmkwrapper p{
	background-color: #c8d7e4;
	padding:0px;
	margin-left:56px;
}

h1, h2, h3, h4, h5, h6{
    display:inline;
}

.img_marker{
    display:inline;
    padding: 0px;
    margin:0px;
}
h1.title {
display:block;
}


/* Feedback styles */

.problemLayer {
	position: absolute;
	left: 34%;
	top: 20%;
	width: 400px;
	height: 110px;
	z-index: 2;
	background: #fff;
	display: none;
}

.time_out_div {
	height: 100%;
	width: 100%;
	min-height: 100%;
	background-color: #5781AF;
	filter:alpha(opacity=50);
	opacity: 0.5;
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	z-index: 99;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}

* html div#feedback-wrapper, * html  div#feedback-maincontainer, * html  div#time_out_div {
position: absolute;
top:expression(eval(document.compatMode && 
document.compatMode=='CSS1Compat') ?
documentElement.scrollTop
+(documentElement.clientHeight-this.clientHeight) 
: document.body.scrollTop
+(document.body.clientHeight-this.clientHeight));
}

#feedback-maincontainer{
	font-family: Arial;
	font-size: 14px;
	display:none;
	background: #F5F5F5;
	border: 8px solid #ababab;
	height:440px;
	left:30%;
	position:fixed;
	text-align:left;
	top:20%;
	bottom:20%;
	width:500px;
	z-index:100;
}
* html #feedback-maincontainer {
	width:480px;
}
#feedback-maincontainer  div#guide_words{
	margin: 0px 20px 0px 20px !important;
	font-size: 12px;
}
.feedback-helper, #summary-helper-left{
	color: #ff3333;
	font-size: 10px;
	float:left;
	
}
#summary-helper-left{
	float:right;
	color: #5781AF;
	padding-right:5px;
}
 
.clear{
	clear:both;
}
*html #feedback-maincontainer{
	width: 500px;
}
*html #feedback-header{
	width: 100%;
}
#feedback-header{
	background-color:#880001;
	border-bottom: 2px solid #ccc;
	color:white;
	font-weight:bold;
	font-size: 16px;
	height:20px;
	margin:0;
	padding:10px 0 10px 20px;
	position:relative;
	text-align:left;
}

#feedback-close{
	display:block;
	position:absolute;
	right:9px;
	top:6px;
	width:12px;
	border: 0px;
}

#feedback-mailform{
	margin: 0px 20px 0px 20px !important;
	padding-bottom:5px;
	text-align:left;
}

*html #feedback-mailform{
	margin: 0px 20px 0px 0px;
	padding-bottom:5px;
}
#feedback-mailform textarea, #feedback-mailform input, #feedback-mailform label{
	font-family: Arial,Helvetica,sans-serif;
	width:450px;
}
#feedback-mailform input, #feedback-mailform label{
	display:block;
}
#feedback-mailform label{
	margin-top: 10px;
}
#feedback-mailform label span{
	color: #ff0000
}
#feedback-mailform textarea{
	font-size: 14px;
	height: 100px;
	padding: 2px;
}
#feedback-mailform textarea#feedback-environment{
	height: 50px;
}

.feedback-formbutton{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #999;
	margin: 15px 20px;
}


.feedback-images{
	border:0;
	margin:0;
	display: inline;
}
#feedback-iFrame {
	background-color:#F5F5F5;
	border:medium none;
	height:90%;
	line-height:20px;
	overflow:visible;
	width:100%;
	display:none;
}

#feedback-wrapper{
	margin: 0px;
	padding: 0px;
	position:fixed;
	bottom:0px;
	right:0px;
	height:315px;
	width: 47px;
	overflow: hidden;
	cursor:pointer;
}

#feedback-link{
	float: left;
	display: block;
}

#feedback-link img{
	width: 47px;
	height:315px;
}
h3#feedback-header{
  display:block;
  }

.remark{
	font-size: 11px;
	margin-top: -15px;
	margin-bottom:25px;
	padding:0px;
}
.remark ul{
	list-style: none;
}
.remark ul li{
	margin:0px;
	padding:0px;
}
p.remark i{
	font-style:normal;
}

