@import url("jbossenterprise.css");

/* -----Override jbossenterprise-single.css----- */

body {
    text-align:center;
  }

div.book, div.chapter, #title{
    text-align:justify;
    width: 57em;
}

ul.docnav {
    margin:0px;
    width: 57em;
    ! height:40px;
    display:block;
}

a.new { 
background:transparent url(../images/new.png) no-repeat scroll right top; 
padding-right:70px; 
} 
a.updated { 
background:transparent url(../images/updated.png) no-repeat scroll right top; 
padding-right:70px; 
}
