<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.jboss.ide.eclipse.jsr88deployer.ui"
   name="Ui Plug-in"
   version="1.0.0"
   provider-name=""
   class="org.jboss.ide.eclipse.jsr88deployer.ui.UiPlugin">

   <runtime>
      <library name="ui.jar"/>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.jboss.ide.eclipse.jsr88deployer.core"/>
   </requires>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IResource"
            id="org.jboss.ide.eclipse.jsr88deployer.ui.popupMenus.iResourceContributions">
         <menu
               label="JSR-88 Deployment"
               id="org.jboss.ide.eclipse.jsr88deployer.ui.popupMenus">
            <separator
                  name="group">
            </separator>
         </menu>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IResource"
            id="org.jboss.ide.eclipse.jsr88deployer.ui.popupMenus.iResourceContributions">
         <action
               label="Deploy"
               class="org.jboss.ide.eclipse.jsr88deployer.ui.actions.DeployAction"
               menubarPath="org.jboss.ide.eclipse.jsr88deployer.ui.popupMenus/group"
               enablesFor="+"
               id="org.jboss.ide.eclipse.jsr88deployer.ui.popup.DeployAction">
            <selection
                  class="org.eclipse.core.resources.IFile">
            </selection>
         </action>
         <action
               label="Redeploy"
               class="org.jboss.ide.eclipse.jsr88deployer.ui.actions.RedeployAction"
               menubarPath="org.jboss.ide.eclipse.jsr88deployer.ui.popupMenus/group"
               enablesFor="+"
               id="org.jboss.ide.eclipse.jsr88deployer.ui.popup.RedeployAction">
            <selection
                  class="org.eclipse.core.resources.IFile">
            </selection>
            <enablement>
               <objectState
                     name="sessionProperty"
                     value="org.jboss.ide.eclipse.jsr88deployer.ui.deployed=true">
               </objectState>
            </enablement>
         </action>
         <action
               label="Undeploy"
               class="org.jboss.ide.eclipse.jsr88deployer.ui.actions.UndeployAction"
               menubarPath="org.jboss.ide.eclipse.jsr88deployer.ui.popupMenus/group"
               enablesFor="+"
               id="org.jboss.ide.eclipse.jsr88deployer.ui.popup.UndeployAction">
            <selection
                  class="org.eclipse.core.resources.IFile">
            </selection>
            <enablement>
               <objectState
                     name="sessionProperty"
                     value="org.jboss.ide.eclipse.jsr88deployer.ui.deployed=true">
               </objectState>
            </enablement>
         </action>
         <action
               class="org.jboss.ide.eclipse.jsr88deployer.ui.actions.CreateConfigurationAction"
               id="org.jboss.ide.eclipse.jsr88deployer.ui.createConfiguration"
               label="Create Configuration"
               menubarPath="org.jboss.ide.eclipse.jsr88deployer.ui.popupMenus/group"/>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.jboss.ide.eclipse.jsr88deployer.ui.preferences.Deploy88PreferencePage"
            id="org.jboss.ide.eclipse.jsr88deployer.ui.preferences.Deploy88PreferencePage"
            name="Deployment 88 Preferences"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.jboss.ide.eclipse.jsr88deployer.ui.preferences.PreferenceInitializer"/>
   </extension>


</plugin>
