<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension point="org.eclipse.ui.newWizards">
      <wizard
            icon="icons/full/ctool16/newclass_wiz.gif"
            class="org.jboss.ide.eclipse.ejb3.ui.wizards.NewSessionBeanWizard"
            category="org.eclipse.jst.ejb.ui"
            name="EJB3 Session Bean"
            id="org.jboss.ide.eclipse.ejb3.wizards.ui.NewEJB3ProjectWizard"/>
      <wizard
            icon="icons/full/ctool16/newclass_wiz.gif"
            class="org.jboss.ide.eclipse.ejb3.ui.wizards.NewMessageDrivenBeanWizard"
            category="org.eclipse.jst.ejb.ui"
            name="EJB3 Message Driven Bean"
            id="org.jboss.ide.eclipse.ejb3.wizards.ui.NewMessageDrivenBeanWizard"/>
   </extension>
   

<extension point="org.eclipse.ui.newWizards">
   <wizard
         category="org.eclipse.jst.ejb.ui"
         class="org.jboss.ide.eclipse.ejb3.ui.wizards.Ejb30ProjectWizard"
         icon="icons/full/ctool16/newjprj_wiz.gif"
         id="org.jboss.ide.eclipse.ejb3.ui.wizards.NewEjb30Wizard"
         name="JBoss EJB 3.0 Project"
         project="true"/>
</extension>
<extension
      point="org.eclipse.wst.server.ui.serverImages">
   <image
         icon="icons/EJBModule16.gif"
         id="org.jboss.ide.eclipse.ejb3.ui.facet.image.ejb30"
         typeIds="jbide.ejb30"/>
</extension>



</plugin>
