body {
	background-image: url(../images/community/bkg_gradient.gif);
	background-repeat: repeat-x;
	position: relative;
	font-family: 'Lucida Grande', Geneva, Verdana, Arial, sans-serif;
	font-size: 12px;
	color: #333;
	line-height: 150%;
}

h1,h2,h3,h4,h5,h6 {
	color: #4a5d75;
}

.jbosstools-header {
	background-image: url("../images/community/jbosstools_horiz_450.png");
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 150px;
	padding-bottom: 20px;
	text-align: center;
}

#player iframe {
	width: 100%;
	height: 100%;
	border: 0px;
}

.videocontrol {
	text-decoration: none;
	display: block;
}

.box {
	z-index: 1;
	/* prevent shadows falling behind containers with backgrounds */
	overflow: hidden;
	list-style: none;
	margin: 0;
}

.box #player {
	width: 100%;
	height: 648px;
	background: black;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	padding: 0;
	/*border: 1px solid #efefef;*/
	margin-bottom: 30px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px
		rgba(0, 0, 0, 0.06) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px
		rgba(0, 0, 0, 0.06) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06)
		inset;
}

.box #player:before,.box #player:after {
	content: '';
	z-index: -10;
	position: absolute;
	background: black;
	left: 10px;
	bottom: 10px;
	width: 50%;
	max-width: 300px;
	/* avoid rotation causing ugly appearance at large container widths */
	max-height: 100px;
	height: 55%;
	-webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

.box #player:after {
	left: auto;
	right: 10px;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	transform: rotate(3deg);
}

ul.items {
	padding-left: 0px;
}

ul.items li {
	display: inline;
	list-style-type: none;
}

