<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.jboss.tools.vpe.ui.test">
      <tests
            testSuite="org.jboss.tools.vpe.test.VpeAllTests"
            importantTestSuite="org.jboss.tools.vpe.test.VpeAllImportantTests">
      </tests>
   </extension>

</plugin>
