<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="nodePopupMenus" name="Popup Menus for IPackageNodes" schema="schema/nodePopupMenus.exsd"/>
   <extension-point id="newArchiveActions" name="Actions to create new Package types" schema="schema/newArchiveActions.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.jboss.ide.eclipse.ui.views"
            class="org.jboss.ide.eclipse.archives.ui.views.ProjectArchivesView"
            icon="icons/jar_obj.gif"
            id="org.jboss.ide.eclipse.archives.ui.ProjectArchivesView"
            name="Project archives"/>
   </extension>

   <extension
         point="org.jboss.ide.eclipse.archives.ui.nodePopupMenus">
      <nodeContribution
            class="org.jboss.ide.eclipse.archives.ui.actions.NodePropertiesAction"
            enablesForNodeType="any"
            icon="icons/prop_ps.gif"
            id="org.jboss.ide.eclipse.archives.ui.propertyContribution"
            label="Properties"
            weight="99"/>
   </extension>

   <extension
         point="org.jboss.ide.eclipse.archives.ui.newArchiveActions">
      <newPackageAction
            class="org.jboss.ide.eclipse.archives.ui.actions.NewJARAction"
            icon="icons/new_package.gif"
            id="org.jboss.ide.eclipse.archives.ui.newJARAction"
            label="JAR"/>
   </extension>
</plugin>
