<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         id="EJB3ProjectNature"
         name="EJB3 Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.jboss.ide.eclipse.ejb3.wizards.core.project.EJB3ProjectNature"/>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.jboss.ide.eclipse.ejb3.wizards.core.classpath.EJB3ClasspathContainerInitializer"
            id="org.jboss.ide.eclipse.jdt.ejb3.wizards.core.classpath.EJB3_CONTAINER"/>
   </extension>

</plugin>
