<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.jboss.ide.eclipse.launcher.ui"
   name="%plugin.name"
   version="1.5.0.m1"
   provider-name="%plugin.provider"
   class="org.jboss.ide.eclipse.launcher.ui.LauncherUIPlugin">

   <runtime>
      <library name="org-jboss-ide-eclipse-launcher-ui.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.jdt"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.debug"/>
      <import plugin="org.eclipse.jdt.debug.ui"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.console"/>
      <import plugin="org.jboss.ide.eclipse.core"/>
      <import plugin="org.jboss.ide.eclipse.launcher.core"/>
      <import plugin="org.jboss.ide.eclipse.ui"/>
      <import plugin="org.eclipse.jface.text"/>
   </requires>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="org.jboss.ide.eclipse.launcher.configuration.jboss.JBoss24xLaunchConfigurationDelegate"
            class="org.jboss.ide.eclipse.launcher.ui.configuration.jboss.JBoss24xTabGroup"
            id="org.jboss.ide.eclipse.launcher.ui.configuration.jboss.JBoss24xTabGroup">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            type="org.jboss.ide.eclipse.launcher.configuration.jboss.JBoss30xLaunchConfigurationDelegate"
            class="org.jboss.ide.eclipse.launcher.ui.configuration.jboss.JBoss30xTabGroup"
            id="org.jboss.ide.eclipse.launcher.ui.configuration.jboss.JBoss30xTabGroup">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            type="org.jboss.ide.eclipse.launcher.configuration.jboss.JBoss32xLaunchConfigurationDelegate"
            class="org.jboss.ide.eclipse.launcher.ui.configuration.jboss.JBoss32xTabGroup"
            id="org.jboss.ide.eclipse.launcher.ui.configuration.jboss.JBoss32xTabGroup">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            type="org.jboss.ide.eclipse.launcher.configuration.jboss.JBoss40xLaunchConfigurationDelegate"
            class="org.jboss.ide.eclipse.launcher.ui.configuration.jboss.JBoss40xTabGroup"
            id="org.jboss.ide.eclipse.launcher.ui.configuration.jboss.JBoss40xTabGroup">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            type="org.jboss.ide.eclipse.launcher.configuration.RemoteServerLaunchConfigurationDelegate"
            class="org.jboss.ide.eclipse.launcher.ui.configuration.RemoteServerTabGroup"
            id="org.jboss.ide.eclipse.launcher.ui.configuration.RemoteServerTabGroup">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/full/obj16/server.gif"
            configTypeID="org.jboss.ide.eclipse.launcher.configuration.jboss.JBoss24xLaunchConfigurationDelegate"
            id="org.jboss.ide.eclipse.launcher.configuration.jboss.JBoss24xLaunchConfigurationDelegate.image">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            icon="icons/full/obj16/server.gif"
            configTypeID="org.jboss.ide.eclipse.launcher.configuration.jboss.JBoss30xLaunchConfigurationDelegate"
            id="org.jboss.ide.eclipse.launcher.configuration.jboss.JBoss30xLaunchConfigurationDelegate.image">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            icon="icons/full/obj16/server.gif"
            configTypeID="org.jboss.ide.eclipse.launcher.configuration.jboss.JBoss32xLaunchConfigurationDelegate"
            id="org.jboss.ide.eclipse.launcher.configuration.jboss.JBoss32xLaunchConfigurationDelegate.image">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            icon="icons/full/obj16/server.gif"
            configTypeID="org.jboss.ide.eclipse.launcher.configuration.jboss.JBoss40xLaunchConfigurationDelegate"
            id="org.jboss.ide.eclipse.launcher.configuration.jboss.JBoss40xLaunchConfigurationDelegate.image">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            icon="icons/full/obj16/server.gif"
            configTypeID="org.jboss.ide.eclipse.launcher.configuration.RemoteServerLaunchConfigurationDelegate"
            id="org.jboss.ide.eclipse.launcher.configuration.RemoteServerLaunchConfigurationDelegate.image">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="%org.jboss.ide.eclipse.launcher.ui.views.ServerNavigator"
            icon="icons/full/ctool16/servernavigator.gif"
            category="org.jboss.ide.eclipse.ui.views"
            class="org.jboss.ide.eclipse.launcher.ui.views.ServerNavigator"
            id="org.jboss.ide.eclipse.launcher.ui.views.ServerNavigator">
      </view>
      <view
            name="%org.jboss.ide.eclipse.launcher.ui.logfiles.LogFileViewer"
            icon="icons/full/ctool16/logfileviewer.gif"
            category="org.jboss.ide.eclipse.ui.views"
            class="org.jboss.ide.eclipse.launcher.ui.logfiles.LogFileViewer"
            id="org.jboss.ide.eclipse.launcher.logfiles.LogFileViewer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%org.jboss.ide.eclipse.launcher.ui.LauncherPreferencePage"
            category="org.jboss.ide.eclipse.ui.MainPreferencePage"
            class="org.jboss.ide.eclipse.launcher.ui.LauncherPreferencePage"
            id="org.jboss.ide.eclipse.launcher.ui.LauncherPreferencePage">
      </page>
   </extension>
   <extension
         id="org.jboss.ide.eclipse.launcher.defaultServerActionSets"
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%org.jboss.ide.eclipse.launcher.defaultServerActionSet"
            id="org.jboss.ide.eclipse.launcher.defaultServerActionSet">
         <menu
               label="%org.jboss.ide.eclipse.launcher.ui.menu.defaultServer"
               id="org.jboss.ide.eclipse.launcher.ui.menu.defaultServer">
            <separator
                  name="lifecycle">
            </separator>
            <separator
                  name="logs">
            </separator>
         </menu>
         <action
               label="%org.jboss.ide.eclipse.launcher.ui.actions.ShowLogViewDefaultServerActionDelegate"
               icon="icons/full/ctool16/logfileviewer.gif"
               class="org.jboss.ide.eclipse.launcher.ui.actions.ShowLogViewDefaultServerActionDelegate"
               tooltip="%org.jboss.ide.eclipse.launcher.ui.actions.ShowLogViewDefaultServerActionDelegate"
               menubarPath="org.jboss.ide.eclipse.launcher.ui.menu.defaultServer/logs"
               disabledIcon="icons/full/dtool16/logfileviewer.gif"
               toolbarPath="Normal/org.jboss.ide.eclipse.launcher"
               id="org.jboss.ide.eclipse.launcher.ui.actions.ShowLogViewDefaultServerActionDelegate">
         </action>
         <action
               label="%org.jboss.ide.eclipse.launcher.ui.actions.ShowConsoleViewDefaultServerActionDelegate"
               icon="icons/full/ctool16/console_view.gif"
               class="org.jboss.ide.eclipse.launcher.ui.actions.ShowConsoleViewDefaultServerActionDelegate"
               tooltip="%org.jboss.ide.eclipse.launcher.ui.actions.ShowConsoleViewDefaultServerActionDelegate"
               menubarPath="org.jboss.ide.eclipse.launcher.ui.menu.defaultServer/logs"
               disabledIcon="icons/full/dtool16/console_view.gif"
               toolbarPath="Normal/org.jboss.ide.eclipse.launcher"
               id="org.jboss.ide.eclipse.launcher.ui.actions.ShowConsoleViewDefaultServerActionDelegate">
         </action>
         <action
               label="%org.jboss.ide.eclipse.launcher.ui.actions.TerminateDefaultServerActionDelegate"
               icon="icons/full/ctool16/terminateserveraction.gif"
               class="org.jboss.ide.eclipse.launcher.ui.actions.TerminateDefaultServerActionDelegate"
               tooltip="%org.jboss.ide.eclipse.launcher.ui.actions.TerminateDefaultServerActionDelegate"
               menubarPath="org.jboss.ide.eclipse.launcher.ui.menu.defaultServer/lifecycle"
               disabledIcon="icons/full/dtool16/terminateserveraction.gif"
               toolbarPath="Normal/org.jboss.ide.eclipse.launcher"
               id="org.jboss.ide.eclipse.launcher.ui.actions.TerminateDefaultServerActionDelegate">
         </action>
         <action
               label="%org.jboss.ide.eclipse.launcher.ui.actions.ShutdownDefaultServerActionDelegate"
               icon="icons/full/ctool16/shutdownserveraction.gif"
               class="org.jboss.ide.eclipse.launcher.ui.actions.ShutdownDefaultServerActionDelegate"
               tooltip="%org.jboss.ide.eclipse.launcher.ui.actions.ShutdownDefaultServerActionDelegate"
               menubarPath="org.jboss.ide.eclipse.launcher.ui.menu.defaultServer/lifecycle"
               disabledIcon="icons/full/dtool16/shutdownserveraction.gif"
               toolbarPath="Normal/org.jboss.ide.eclipse.launcher"
               id="org.jboss.ide.eclipse.launcher.ui.actions.ShutdownDefaultServerActionDelegate">
         </action>
         <action
               label="%org.jboss.ide.eclipse.launcher.ui.actions.StartDefaultServerActionDelegate"
               icon="icons/full/ctool16/startserveraction.gif"
               class="org.jboss.ide.eclipse.launcher.ui.actions.StartDefaultServerActionDelegate"
               tooltip="%org.jboss.ide.eclipse.launcher.ui.actions.StartDefaultServerActionDelegate"
               menubarPath="org.jboss.ide.eclipse.launcher.ui.menu.defaultServer/lifecycle"
               disabledIcon="icons/full/dtool16/startserveraction.gif"
               toolbarPath="Normal/org.jboss.ide.eclipse.launcher"
               id="org.jboss.ide.eclipse.launcher.ui.actions.StartDefaultServerActionDelegate">
         </action>
      </actionSet>
   </extension>

</plugin>
