<html>
<head></head>

<body>

<h1>input</h1>

<h4>input</h4>

<input id="input" name="input" value="input" class="inputClass" style="color:red;" >

<h4>checkbox</h4>

<input id="checkbox" type="checkbox" name="checkbox" value="checkbox" class="checkboxClass" dir="ltr" checked="checked" style="color: red;">

<h4>file</h4>

<input id="file" align="top" dir="ltr" class="fileClass" value="value" width="50" type="file" name="name" style="color:red" size="30" disabled="disabled" readonly="readonly" src="src">

<h4>hidden</h4>

<input type="hidden" name="someName" value="somevalue">

<h4>input button</h4>

<input id="button" type="button" value="input button" dir="ltr" class="buttonClass" style="color:red;" >

<h4><input id="image" type="image" src="/img/image.jpeg" class="imageClass" style="color:red;" width="40">input image</h4>



<h4>password</h4>

<input id="password" type="password" name="someName" value="password" class="passwordClass" style="color:red;" dir="ltr" size="40">

<h4>radio</h4>

<input id="radio"  style="color:red;" checked="checked" dir="ltr" type="radio" name="someName" value="someValue">

<h5>reset</h5>

<input type="reset" id="reset" style="color:red"  class="resetClass">

<h4>submit</h4>

<input id="submit" type="submit" value="submit"  class="submitClass" dir="ltr" style="color:red;">

<h4>text</h4>

<input type="text" name="someName" value="value" id="text" class="textClass" style="color:red;" size="40" dir="ltr">

</body>
</html>