<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            name="%org.jboss.ide.eclipse.jdt.core.classpath.junit"
            class="org.jboss.ide.eclipse.jdt.test.ui.pages.JUnitClasspathContainerPage"
            id="org.jboss.ide.eclipse.jdt.core.classpath.junit">
      </classpathContainerPage>
   </extension>

</plugin>
