<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="example5bMultiPageEditor.TwoPage"
         name="TwoPage Editor"
         point="org.eclipse.ui.editors">
      <editor
            class="example5bMultiPageEditor.editors.TwoPageEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            extensions="xml"
            icon="icons/sample.gif"
            id="example5bMultiPageEditor.editors.TwoPageEditor"
            name="IDE Editor"/>
   </extension>

</plugin>
