<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="packageTypes" name="JBossIDE Package Type" schema="schema/packageTypes.exsd"/>
   <extension
         id="packagesNature"
         name="JBossIDE Packages Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.jboss.ide.eclipse.packages.core.build.PackagesNature"/>
      </runtime>
      <builder id="org.jboss.ide.eclipse.packages.core.packagesBuilder"/>
   </extension>
   <extension
         id="packagesBuilder"
         name="JBossIDE Packages Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true"
            >
         <run class="org.jboss.ide.eclipse.packages.core.build.PackagesBuilder"/>
      </builder>
   </extension>
   <extension
         point="org.jboss.ide.eclipse.packages.core.packageTypes">
      <packageType
            class="org.jboss.ide.eclipse.packages.core.model.types.JARPackageType"
            id="jar"
            label="JAR"/>
   </extension>

</plugin>
