<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.hibernate.eclipse.launch.CodeGenerationLaunchConfigurationType">
<stringAttribute key="org.hibernate.tools.configurationname" value="lamp-ejb"/>
<booleanAttribute key="org.hibernate.tools.ejb3" value="false"/>
<booleanAttribute key="org.hibernate.tools.hbm2cfgxml" value="true"/>
<booleanAttribute key="org.hibernate.tools.hbm2dao" value="true"/>
<booleanAttribute key="org.hibernate.tools.hbm2doc" value="false"/>
<booleanAttribute key="org.hibernate.tools.hbm2hbmxml" value="false"/>
<booleanAttribute key="org.hibernate.tools.hbm2java" value="true"/>
<booleanAttribute key="org.hibernate.tools.jdk5" value="false"/>
<stringAttribute key="org.hibernate.tools.package" value=""/>
<booleanAttribute key="org.hibernate.tools.prefercompositeids" value="true"/>
<booleanAttribute key="org.hibernate.tools.reveng.detect_many_to_many" value="true"/>
<booleanAttribute key="org.hibernate.tools.reveng.detect_optimistc_lock" value="true"/>
<booleanAttribute key="org.hibernate.tools.schema2hbm" value="false"/>
<booleanAttribute key="org.hibernate.tools.useOwnTemplates" value="false"/>
</launchConfiguration>
