<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.jboss.ide.eclipse.jdt.xml.ui"
   name="%plugin.name"
   version="1.5.0"
   provider-name="%plugin.provider"
   class="org.jboss.ide.eclipse.jdt.xml.ui.JDTXMLUIPlugin">

   <runtime>
      <library name="org-jboss-ide-eclipse-jdt-xml-ui.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.jboss.ide.eclipse.ui"/>
      <import plugin="org.jboss.ide.eclipse.core"/>
      <import plugin="org.jboss.ide.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.jdt"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.jboss.ide.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.jboss.ide.eclipse.jdt.xml.core"/>
   </requires>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%org.jboss.ide.eclipse.jdt.xml.ui.preferences.XMLSyntaxPreferencePage"
            category="org.jboss.ide.eclipse.ui.MainPreferencePage"
            class="org.jboss.ide.eclipse.jdt.xml.ui.preferences.XMLSyntaxPreferencePage"
            id="org.jboss.ide.eclipse.jdt.xml.ui.preferences.XMLSyntaxPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%org.jboss.ide.eclipse.jdt.xml.ui.editors.XMLEditor"
            icon="icons/full/obj16/xml.gif"
            extensions="xml,xsd"
            class="org.jboss.ide.eclipse.jdt.xml.ui.editors.XMLEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            id="org.jboss.ide.eclipse.jdt.xml.ui.editors.XMLEditor">
      </editor>
      <editor
            name="%org.jboss.ide.eclipse.jdt.xml.ui.editors.WMLEditor"
            icon="icons/full/obj16/xml.gif"
            extensions="wml"
            class="org.jboss.ide.eclipse.jdt.xml.ui.editors.XMLEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            id="org.jboss.ide.eclipse.jdt.xml.ui.editors.WMLEditor">
      </editor>
      <editor
            name="%org.jboss.ide.eclipse.jdt.xml.ui.editors.HTMLEditor"
            icon="icons/full/obj16/xml.gif"
            extensions="html"
            class="org.jboss.ide.eclipse.jdt.xml.ui.editors.XMLEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            id="org.jboss.ide.eclipse.jdt.xml.ui.editors.HTMLEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            name="%org.jboss.ide.eclipse.jdt.xml.ui.wizards.NewHTMLPageWizard"
            icon="icons/full/ctool16/newxml_wiz.gif"
            category="org.jboss.ide.eclipse.ui.wizards/org.jboss.ide.eclipse.ui.wizards.web"
            class="org.jboss.ide.eclipse.jdt.xml.ui.wizards.NewHTMLPageWizard"
            id="org.jboss.ide.eclipse.jdt.xml.ui.wizards.NewHTMLPageWizard">
      </wizard>
      <wizard
            name="%org.jboss.ide.eclipse.jdt.xml.ui.wizards.NewXHTMLPageWizard"
            icon="icons/full/ctool16/newxml_wiz.gif"
            category="org.jboss.ide.eclipse.ui.wizards/org.jboss.ide.eclipse.ui.wizards.web"
            class="org.jboss.ide.eclipse.jdt.xml.ui.wizards.NewXHTMLPageWizard"
            id="org.jboss.ide.eclipse.jdt.xml.ui.wizards.NewXHTMLPageWizard">
      </wizard>
      <wizard
            name="%org.jboss.ide.eclipse.jdt.xml.ui.wizards.NewWMLPageWizard"
            icon="icons/full/ctool16/newxml_wiz.gif"
            category="org.jboss.ide.eclipse.ui.wizards/org.jboss.ide.eclipse.ui.wizards.web"
            class="org.jboss.ide.eclipse.jdt.xml.ui.wizards.NewWMLPageWizard"
            id="org.jboss.ide.eclipse.jdt.xml.ui.wizards.NewWMLPageWizard">
      </wizard>
   </extension>

</plugin>
