<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         id="AopProjectBuilder"
         name="AOP Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder hasNature="true">
         <run class="org.jboss.ide.eclipse.jdt.aop.core.project.AopProjectBuilder"/>
      </builder>
   </extension>
   <extension
         id="AopProjectNature"
         name="AOP Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.jboss.ide.eclipse.jdt.aop.core.project.AopProjectNature"/>
      </runtime>
      <builder id="org.jboss.ide.eclipse.jdt.aop.core.AopProjectBuilder"/>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.jboss.ide.eclipse.jdt.aop.core.classpath.AopClasspathContainerInitializer"
            id="org.jboss.ide.eclipse.jdt.aop.core.classpath.AOP_14_CONTAINER"/>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.jboss.ide.eclipse.jdt.aop.core.classpath.AopClasspathContainerInitializer"
            id="org.jboss.ide.eclipse.jdt.aop.core.classpath.AOP_15_CONTAINER"/>
   </extension>
</plugin>
