<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.jboss.ide.eclipse.ui"
   name="%plugin.name"
   version="1.5.0.m1"
   provider-name="%plugin.provider"
   class="org.jboss.ide.eclipse.ui.UIPlugin">

   <runtime>
      <library name="org-jboss-ide-eclipse-ui.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.jboss.ide.eclipse.core"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.debug.ui"/>
   </requires>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%org.jboss.ide.eclipse.ui.MainPreferencePage"
            class="org.jboss.ide.eclipse.ui.MainPreferencePage"
            id="org.jboss.ide.eclipse.ui.MainPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%org.jboss.ide.eclipse.ui.views"
            id="org.jboss.ide.eclipse.ui.views">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%org.jboss.ide.eclipse.ui.wizards"
            id="org.jboss.ide.eclipse.ui.wizards">
      </category>
   </extension>

</plugin>
