
/* -----Override jbossorg.css----- */

body {
    background-image:url(images/community/bkg_gradient.gif);
    background-repeat:repeat-x;
    text-align:center;
    padding:0;
	margin:0;
 }

div.book{
    margin:0 auto;
	padding:0em 2em;
	line-height:150%;
    text-align:justify;
    width: 55em;
   }
   
#title {
	text-align:justify;
    width: 55em;
	height:130px;
    padding:0px;
    margin:0px;
}

#title strong {display:none;}

#title a.site_href {
    display:block;
    height:89px;
    width:310px;
    float:left;
    background:url(images/community/jbossorglogo.png) top left no-repeat;
}

#title a.doc_href {
    display:block;
    height:89px;
    background:transparent url(images/community/community_demos.png) top right no-repeat;
}