<?xml version="1.0" encoding="UTF-8"?>
<chapter id="testNG" xreflabel="testNG">
    <?dbhtml filename="testNG.html"?>
    <chapterinfo>
        <keywordset>
            <keyword>Red Hat Developer Studio</keyword>
            <keyword>RHDS</keyword>
            <keyword>testNG</keyword>
            </keywordset>
    </chapterinfo>
    <title>Using TestNG project</title>
    <section>
 <title>What is TestNG?</title>
        <para><property>TestNG</property> (&quot;Testing, the Next Generation&quot;) is a Java unit testing framework that aims to overcome many limitations of JUnit. 
            <property>TestNG</property> introduces some new functionalities that make it more powerful and easier to use, such as:</para>
     <itemizedlist>
      <listitem><para>JDK 5 Annotations (JDK 1.4 is also supported with JavaDoc annotations)</para></listitem>
      <listitem><para>Flexible test configuration</para></listitem>
         <listitem><para>Support for data-driven testing (with @DataProvider)</para></listitem>
         <listitem><para>Support for parameters</para></listitem>
         <listitem><para>Allows distribution of tests on slave machines</para></listitem>
         <listitem><para>Powerful execution model (no more TestSuite)</para></listitem>
         <listitem><para>Supported by a variety of tools and plug-ins (Eclipse, IDEA, Maven, etc...)</para></listitem>
         <listitem><para>Embeds BeanShell for further flexibility</para></listitem>
         <listitem><para>Default JDK functions for runtime and logging (no dependencies)</para></listitem>
         <listitem><para>Dependent methods for application server testing</para></listitem>
     </itemizedlist>
        
        <para>More information can be found on home page: <ulink url="http://testng.org">www.testng.org</ulink></para>
     </section>
    <section id="OtherRelevantResourcesOnTheTopic5">
        <?dbhtml filename="OtherRelevantResourcesOnTheTopic5.html"?>
        <title>Other relevant resources on the topic</title>
        <para><ulink url="http://www.artima.com/lejava/articles/testng.html">Next-Generation Testing with TestNG (An Interview with Cédric Beust)</ulink></para>
        <para><ulink url="http://www.javaworld.com/javaworld/jw-04-2005/jw-0404-testng.html">TestNG: The next generation of unit testing</ulink></para>
        <para><ulink url="http://dev2dev.bea.com/pub/a/2006/09/testng-categorization.html">Test Categorization Techniques with TestNG</ulink></para>
        <para><ulink url="http://www-128.ibm.com/developerworks/java/library/j-testng/">TestNG makes Java unit testing a breeze</ulink></para>
        <para><ulink url="http://www-128.ibm.com/developerworks/java/library/j-cq08296/index.html">In pursuit of code quality: JUnit 4 vs. TestNG</ulink></para>
    </section>
    <section>
        <title>How to use the generated Seam-test project to run Seam tests in Red Hat Developer Studio</title>
        
        <itemizedlist>
            <listitem><para>Create a new Seam Web Project using New Project wizard or main menu <emphasis>File &gt; New &gt; Project &gt; Seam &gt; Seam Web Project</emphasis></para></listitem>
        </itemizedlist>
                
        <figure>
            <title>Seam Web Project creation</title>
            <mediaobject> 
                <imageobject>
                    <imagedata fileref="images/testNG1.png"/>
                </imageobject>
            </mediaobject>
        </figure>
  
  <itemizedlist>
      <listitem><para>Name your project and follow the next wizard steps keeping default settings</para></listitem>
  </itemizedlist>
  
        <figure>
            <title>New Seam Project Wizard</title>
            <mediaobject> 
                <imageobject>
                    <imagedata fileref="images/testNG2.png"/>
                </imageobject>
            </mediaobject>
        </figure>
        
<itemizedlist>
      <listitem><para>Check the needed boxes and click <emphasis>Next</emphasis></para></listitem>
  </itemizedlist>
  
        <figure>
            <title>New Seam Project Facets</title>
            <mediaobject> 
                <imageobject>
                    <imagedata fileref="images/testNG29.png"/>
                </imageobject>
            </mediaobject>
        </figure>
<itemizedlist>
      <listitem><para>Click <emphasis>Next</emphasis> in the &quot;Web Module&quot; wizard&apos;s dialog</para></listitem>
  </itemizedlist>
  
        <figure>
            <title>New Seam Project Facets</title>
            <mediaobject> 
                <imageobject>
                    <imagedata fileref="images/testNG30.png"/>
                </imageobject>
            </mediaobject>
        </figure>


        <itemizedlist>
            <listitem><para>Check <emphasis>Server Supplied JSF Implementation</emphasis></para></listitem>
        </itemizedlist>
        
        <figure>
            <title>Adding JSF capabilities</title>
            <mediaobject> 
                <imageobject>
                    <imagedata fileref="images/testNG3.png"/>
                </imageobject>
            </mediaobject>
        </figure>
        
        <itemizedlist>
            <listitem><para>Select <emphasis>ear</emphasis> next to <emphasis>Deploy as:</emphasis> field</para></listitem>
        </itemizedlist>
        
        <figure>
            <title>Select deployment type</title>
            <mediaobject> 
                <imageobject>
                    <imagedata fileref="images/testNG4.png"/>
                </imageobject>
            </mediaobject>
        </figure>
        
        <itemizedlist>
            <listitem><para>After project is created you will have the generated Seam-test project that is setup to run <property>TestNG</property> directly against the proper libraries and server runtime libraries</para></listitem>
        </itemizedlist>
        
        <figure>
            <title>Seam-test project</title>
            <mediaobject> 
                <imageobject>
                    <imagedata fileref="images/testNG5.png"/>
                </imageobject>
            </mediaobject>
        </figure>
        
        <itemizedlist>
            <listitem><para>Add Seam Action to your project via <emphasis>New &gt; Seam Action</emphasis></para></listitem>
        </itemizedlist>
        
        <figure>
            <title>Seam Action creation</title>
            <mediaobject> 
                <imageobject>
                    <imagedata fileref="images/testNG6.png"/>
                </imageobject>
            </mediaobject>
        </figure>
        
        <itemizedlist>
            <listitem><para>Fill out the wizard fields. Seam Action wizard will create resources and place them in the apropriate folders dependent on EAR project structure</para></listitem>
        </itemizedlist>
        
        <figure>
            <title>New Seam Action wizard</title>
            <mediaobject> 
                <imageobject>
                    <imagedata fileref="images/testNG7.png"/>
                </imageobject>
            </mediaobject>
        </figure>
        
        <para>When Action is created you will see it in Package Explorer view.</para>
               
        <figure>
            <title>Created Action</title>
            <mediaobject> 
                <imageobject>
                    <imagedata fileref="images/testNG8.png"/>
                </imageobject>
            </mediaobject>
        </figure>
        <para>Below are generated Java classes:</para>
        <figure>
            <title>Java Classes</title>
            <mediaobject> 
                <imageobject>
                    <imagedata fileref="images/testNG9.png"/>
                </imageobject>
            </mediaobject>
        </figure>
        
        <itemizedlist>
            <listitem><para>Select <emphasis>ActionLocalTest.xml</emphasis> in Seam-test project and run the test via right click <emphasis>Run As &gt; TestNG Suite</emphasis></para></listitem>
        </itemizedlist>
        
        <figure>
            <title>Run TestNG</title>
            <mediaobject> 
                <imageobject>
                    <imagedata fileref="images/testNG10.png"/>
                </imageobject>
            </mediaobject>
        </figure>
        
        <para>The test process will start and its ouput will be written in Console. After the messages in the Console tabbed view stop scrollig <property>TestNG</property> is finished.</para>
        
        
        <figure>
            <title>Test is finished</title>
            <mediaobject> 
                <imageobject>
                    <imagedata fileref="images/testNG10a.png"/>
                </imageobject>
            </mediaobject>
        </figure>

        <itemizedlist>
            <listitem><para>After running <property>TestNG</property> you will have the test results in <emphasis>test-output</emphasis> folder in Seam-test project (press F5 to refresh the Package Explorer view). Open <emphasis><property>index.html</property></emphasis> file with web browser</para></listitem>
        </itemizedlist>
        
        <figure>
            <title>Opening TestNG Results in Web Browser</title>
            <mediaobject> 
                <imageobject>
                    <imagedata fileref="images/testNG11.png"/>
                </imageobject>
            </mediaobject>
        </figure>
        <para>Now you can see the test results in web browser:</para>
        <figure>
            <title>TestNG Results</title>
            <mediaobject> 
                <imageobject>
                    <imagedata fileref="images/testNG12.png"/>
                </imageobject>
            </mediaobject>
        </figure>
        <para>The <property>TestNG</property> information is split up into two panes in browser. You can select a result on the left-hand pane and its details will be displayed on the right-hand one.</para>
        <figure>
            <title>TestNG Information</title>
            <mediaobject> 
                <imageobject>
                    <imagedata fileref="images/testNG13.png"/>
                </imageobject>
            </mediaobject>
        </figure>
        <para>See the details of the test on right-hand pane:</para>
        <figure>
            <title>ActionLocal Test Details</title>
            <mediaobject> 
                <imageobject>
                    <imagedata fileref="images/testNG14.png"/>
                </imageobject>
            </mediaobject>
        </figure>
        
        
    </section>
  </chapter>
