<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="Example7PreferenceStore.preferencePage"
         name="Example7PreferenceStore.preferencePage"
         point="org.eclipse.ui.preferencePages">
      <page
            class="example7PreferenceStore.preferences.PreferencePage1"
            id="Example7PreferenceStore.page1"
            name="Example7PreferenceStore.page1"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="Example7PreferenceStore.objectContribution1"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="example7PreferenceStore.actions.Action1"
               id="Example7PreferenceStore.actions.action1"
               label="Our Test Action"/>
      </objectContribution>
   </extension>

</plugin>
