<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.jboss.tools.smooks.ui.viewerInitor">
      <viewerInitor
            contentProvider="org.jboss.tools.smooks.xml.ui.XMLStructuredDataContentProvider"
            creationWizard="org.jboss.tools.smooks.xml.ui.XMLStructuredDataWizard"
            description="XML data type comes from any .xml file."
            labelProvider="org.jboss.tools.smooks.xml.ui.XMLStructuredDataLabelProvider"
            name="XML Data Type"
            typeID="org.jboss.tools.smooks.xml.viewerInitor.xml">
      </viewerInitor>
   </extension>
   <extension
         point="org.jboss.tools.smooks.ui.analyzer">
      <mappingAnalyzer
            class="org.jboss.tools.smooks.xml2xml.XML2XMLAnalyzer"
            name="XML2XML Analyzer"
            typeID="org.jboss.tools.smooks.xml.viewerInitor.xml">
         <targetSourceType
               id="org.jboss.tools.smooks.xml.viewerInitor.xml"
               name="XML">
         </targetSourceType>
      </mappingAnalyzer>
   </extension>

</plugin>
