<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
     <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.jdt.core.IJavaProject"
            adaptable="true"
            name="%org.jboss.ide.eclipse.jdt.j2ee.jsp.ui.properties.JSPProjectNaturePropertyPage"
            class="org.jboss.ide.eclipse.jdt.j2ee.jsp.ui.properties.JSPProjectNaturePropertyPage"
            id="org.jboss.ide.eclipse.jdt.j2ee.jsp.ui.properties.JSPProjectNaturePropertyPage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            adaptable="true"
            location="TOP_LEFT"
            label="%org.jboss.ide.eclipse.jdt.j2ee.jsp.ui.decorators.JSPNatureDecorator"
            class="org.jboss.ide.eclipse.jdt.j2ee.jsp.ui.decorators.JSPNatureDecorator"
            state="true"
            id="org.jboss.ide.eclipse.jdt.j2ee.jsp.ui.decorators.JSPNatureDecorator">
         <description>
            Indicates that the resource is deployed
         </description>
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IResource">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IResource"
            id="org.jboss.ide.eclipse.jdt.j2ee.jsp.ui.popupMenus.iResourceContributions">
         <action
               label="%org.jboss.ide.eclipse.jdt.j2ee.jsp.ui.actions.JSPCompilationAction"
               icon="icons/full/obj16/debugt_obj.gif"
               class="org.jboss.ide.eclipse.jdt.j2ee.jsp.ui.actions.JSPCompilationAction"
               enablesFor="1"
               id="org.jboss.ide.eclipse.jdt.j2ee.jsp.ui.actions.JSPCompilationAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
