<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.jboss.ide.eclipse.as.core.publishers">
      <publisher
            class="org.jboss.bpel.as.integration.JBossServerBPELPublisher"
            priority="4">
      </publisher>
   </extension>

</plugin>
