<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.jboss.tools.jbpm.new"
            name="jBPM"/>
      <wizard
            category="org.jboss.tools.jbpm.new"
            class="org.jboss.tools.jbpm.wizard.project.NewJBPMProjectWizard"
            id="org.jboss.tools.jbpm.new.project"
            name="jBPM project"
            project= "true">
         <description>This wizard creates a new jBPM project.</description>
      </wizard>
   </extension>
   <extension point="org.eclipse.jdt.core.classpathContainerInitializer">
       <classpathContainerInitializer class="org.jboss.tools.jbpm.util.JBPMClasspathContainerInitializer" id="JBPM" />
   </extension>
   <extension point = "org.eclipse.ui.preferencePages">
      <page id="org.jboss.tools.jbpm.preferences.JBPMPreferencePage"
            class="org.jboss.tools.jbpm.preferences.JBPMPreferencePage"
            name="jBPM">
      </page>
      <page name="Installed jBPM Runtimes"
            category="org.jboss.tools.jbpm.preferences.JBPMPreferencePage"
            class="org.jboss.tools.jbpm.preferences.JBPMRuntimesPreferencePage"
            id="org.jboss.tools.jbpm.preferences.JBPMRuntimesPreferencePage">
      </page>
   </extension>
   <extension point="org.eclipse.ui.propertyPages">
      <page name="jBPM"
            class="org.jboss.tools.jbpm.preferences.JBPMProjectPreferencePage"
            id="org.jboss.tools.jbpm.preferences.JBPMProjectPreferencePage">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		          <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"/>
		     </adapt>      
         </enabledWhen>
      </page>
   </extension>
   <extension point = "org.eclipse.ui.popupMenus">
      <objectContribution
           objectClass="org.eclipse.jdt.core.IJavaProject"
           id="org.jboss.tools.jbpm.action.ConvertToJBPMProject">
	    <action id="org.jboss.tools.jbpm.action.ConvertToJBPMProjectAction"
	       label="Convert to jBPM Project"
	       menubarPath="org.eclipse.ui.projectConfigure/additions"
	       class="org.jboss.tools.jbpm.action.ConvertToJBPMProjectAction"
           definitionId="org.jboss.tools.jbpm.action.ConvertToJBPMProjectAction"
	       enablesFor="1">
	    </action>
      </objectContribution>
   </extension>
   <extension-point id="runtimeRecognizer" name="jBPM Runtime Recognizer" schema="schema/runtimeRecognizer.exsd"/>
</plugin>
