
mapVersionTag=HEAD
buildDirectory=%build-output-directory%/eclipse
buildId=JBossIDE-Test-Build
buildLabel=${buildType}-build
baseLocation=${buildDirectory}
timestamp=007
collPlace=
collBase=.
configs=*,*,*
archivesFormat=*,*,* - zip
bootclasspath=${java.home}/lib/rt.jar
javacFailOnError=true
javacDebugInfo=on
javacVerbose=true
javaSource=1.4
javacTarget=1.4

collectingFolder=
archivePrefix=

zipargs=
tarargs=

buildTypeDescription.N=nightly
buildTypeDescription.I=integration
buildTypeDescription.R=release

# this list has a special format, i.e.:
# test-type:pluginname:testclass,
# test-type:pluginname2:testclass2...

test.plugins=\
	core:org.jboss.ide.eclipse.core.test:org.jboss.ide.eclipse.core.test.AllTests,\
	core:org.jboss.ide.eclipse.packages.test:org.jboss.ide.eclipse.packages.test.AllTests,\
	ui:org.jboss.ide.eclipse.xdoclet.test:org.jboss.ide.eclipse.xdoclet.test.AllTests,\
	ui:org.hibernate.eclipse.console.test:org.hibernate.eclipse.console.test.ConsolePluginAllTests