<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<!-- Project Facets 
	
	<extension point="org.eclipse.wst.common.project.facet.core.facets">
		
		<project-facet id="jboss.birt">
			<label>%JBOSS_BIRT_FACET_LABEL</label>
			<description>%JBOSS_BIRT_FACET_DESCRIPTION</description>
		</project-facet>
		
		<project-facet-version facet="jboss.birt" version="1.0">
			<constraint>
				<and>
					<requires facet="jst.web" version="[2.4"/>
					<requires facet="jst.java" version="[5.0"/>
					<requires facet="jst.jsf" version="[1.2"/>
					
				</and>
			</constraint>
		</project-facet-version>
		
		<action id="jboss.birt.v10.install" facet="jboss.birt" type="INSTALL" version="1.0">
      		<delegate class="org.jboss.tools.birt.core.internal.project.facet.JBossBirtFacetInstallDelegate"/>
        	<config-factory class="org.jboss.tools.birt.core.internal.project.facet.JBossBirtFacetInstallDataModelProvider"/>
    	</action>  
      
        // FIXME
    	<action id="jboss.birt.v10.uninstall" facet="jboss.birt"  type="UNINSTALL" version="1.0">
	 		<delegate class="org.jboss.tools.birt.core.internal.project.facet.JBossBirtFacetUninstallDelegate"/>
 		</action>  
		// FIXME
	</extension>
	-->
	<extension point="org.eclipse.wst.common.project.facet.core.presets">
		<static-preset id="preset.jboss.birt">
			<label>%JBOSS_BIRT_FACET_TEMPLATE_LABEL</label>
			<description>%JBOSS_BIRT_FACET_TEMPLATE_LABEL</description>	
			<facet id="birt.runtime" version="2.3.0"/>
			<facet id="jst.java" version="5.0"/>
			<facet id="jst.web" version="2.5"/>
			<facet id="jst.jsf" version="1.2"/>
         	<facet id="jst.seam" version="2.0"/>
		</static-preset>
	</extension>
    <!--
	<extension point="org.eclipse.wst.common.project.facet.core.runtimes">
		<supported>
			<facet id="jboss.birt" version="1.0"/>
			<runtime-component any="true"/>
		</supported>
	</extension>
	
	<extension point="org.eclipse.wst.common.project.facet.ui.wizardPages">
	  <wizard-pages action="jboss.birt.v10.install">
	    <page class="org.eclipse.birt.integration.wtp.ui.internal.wizards.BirtWebProjectWizardConfigurationPage"/>
	  </wizard-pages>
	</extension>
	-->
	<extension point="org.eclipse.wst.common.project.facet.core.listeners">
  		<listener class="org.jboss.tools.birt.core.internal.project.facet.BirtPostInstallListener" 
  		eventTypes="POST_INSTALL"/>
	</extension>
	
</plugin>
