<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.jboss.ide.eclipse.xdoclet.run"
   name="%plugin.name"
   version="1.5.0"
   provider-name="%plugin.provider"
   class="org.jboss.ide.eclipse.xdoclet.run.XDocletRunPlugin">

   <runtime>
      <library name="org-jboss-ide-eclipse-xdoclet-run.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.apache.ant"/>
      <import plugin="org.eclipse.ant.core"/>
      <import plugin="org.eclipse.ant.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.jdt"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.externaltools"/>
      <import plugin="org.jboss.ide.eclipse.core"/>
      <import plugin="org.jboss.ide.eclipse.ui"/>
      <import plugin="org.jboss.ide.eclipse.xdoclet.core"/>
      <import plugin="org.jboss.ide.eclipse.xdoclet.ui"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.eclipse.jdt.ui"/>
   </requires>

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            objectClass="org.eclipse.jdt.core.IJavaProject"
            name="%org.jboss.ide.eclipse.xdoclet.run.ui.properties.ConfigurationPropertyPage"
            class="org.jboss.ide.eclipse.xdoclet.run.ui.properties.ConfigurationPropertyPage"
            id="org.jboss.ide.eclipse.xdoclet.run.ui.properties.ConfigurationPropertyPage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="%org.jboss.ide.eclipse.xdoclet.run.ui.commands.XDocletRunAction"
            categoryId="org.eclipse.ui.category.project"
            id="org.jboss.ide.eclipse.xdoclet.run.ui.commands.XDocletRunAction">
      </command>
      <keyBinding
            commandId="org.jboss.ide.eclipse.xdoclet.run.ui.commands.XDocletRunAction"
            keySequence="Ctrl+Alt+9"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%org.jboss.ide.eclipse.xdoclet.run.ui.actions.XDoclet"
            visible="true"
            id="org.jboss.ide.eclipse.xdoclet.run.ui.actions.XDoclet">
         <action
               definitionId="org.jboss.ide.eclipse.xdoclet.run.ui.commands.XDocletRunAction"
               label="%org.jboss.ide.eclipse.xdoclet.run.ui.actions.XDocletRunAction"
               icon="icons/full/obj16/run.gif"
               tooltip="Run XDoclet on current Project"
               class="org.jboss.ide.eclipse.xdoclet.run.ui.actions.XDocletRunAction"
               menubarPath="project/additions"
               id="org.jboss.ide.eclipse.xdoclet.run.ui.actions.XDocletRunAction">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            id="org.jboss.ide.eclipse.xdoclet.run.ui.popup.XDoclet">
         <action
               definitionId="org.jboss.ide.eclipse.xdoclet.run.ui.commands.XDocletRunAction"
               label="%org.jboss.ide.eclipse.xdoclet.run.ui.popup.XDocletRunAction"
               icon="icons/full/obj16/run.gif"
               class="org.jboss.ide.eclipse.xdoclet.run.ui.actions.XDocletRunAction"
               menubarPath="group.build"
               enablesFor="1"
               id="org.jboss.ide.eclipse.xdoclet.run.ui.popup.XDocletRunAction">
         </action>
      </objectContribution>
   </extension>
   <!--extension
         id="XDocletRunBuilder"
         name="JBossIDE XDoclet Run Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true"
            >
         <run class="org.jboss.ide.eclipse.xdoclet.run.builder.XDocletRunBuilder"/>
      </builder>
   </extension-->

</plugin>
