clean.eclipse.home=%clean-eclipse-home%
pdescriptdir=${clean.eclipse.home}/plugins/org.eclipse.pde.build_3.1.0/scripts
workspace=workspace
verbose=-verbose
build.root=%releng-root%

default.cvs.tag=HEAD
genericTargets=${pdescriptdir}/genericTargets.xml
baseLocation=${clean.eclipse.home}/..
#genericTargets=${build.root}/builders/genericTargets.xml
%comment-enable-publishing% enable.publishing=%enable-publishing%
%comment-enable-notification% enable.notification=%enable-notification%
