<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         id="jbosside.product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            description="The defacto IDE for JBoss development"
            name="JBoss Eclipse IDE">
         <property
               name="windowImages"
               value="icons/jboss.gif"/>
         <property
               name="appName"
               value="JBossIDE"/>
      </product>
   </extension>

</plugin>
