<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%org.jboss.ide.eclipse.ui.wizards.projects"
            parentCategory="org.jboss.ide.eclipse.ui.wizards"
            id="org.jboss.ide.eclipse.ui.wizards.projects">
      </category>
      <category
            name="%org.jboss.ide.eclipse.ui.wizards.ejb"
            parentCategory="org.jboss.ide.eclipse.ui.wizards"
            id="org.jboss.ide.eclipse.ui.wizards.ejb">
      </category>
      <category
            name="%org.jboss.ide.eclipse.ui.wizards.web"
            parentCategory="org.jboss.ide.eclipse.ui.wizards"
            id="org.jboss.ide.eclipse.ui.wizards.web">
      </category>
      <category
            name="%org.jboss.ide.eclipse.ui.wizards.descriptors"
            parentCategory="org.jboss.ide.eclipse.ui.wizards"
            id="org.jboss.ide.eclipse.ui.wizards.descriptors">
      </category>
   </extension>

</plugin>
