<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category id="org.jboss.tools..shale" name="Shale" parentCategory="org.jboss.tools.jst.web">
      </category>
      <wizard 
         category="org.jboss.tools.jst.web/org.jboss.tools.shale" 
         class="org.jboss.tools.shale.ui.wizard.newfile.NewShaleDialogConfigFileWizard" 
         icon="images/xstudio/wizards/dialog-config.gif" 
         id="org.jboss.tools.shale.ui.wizard.newfile.NewShaleDialogConfigFileWizard" 
         name="Shale Dialog Config 1.0" 
         project="false">
         <selection class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard 
         category="org.jboss.tools.jst.web/org.jboss.tools.shale" 
         class="org.jboss.tools.shale.ui.wizard.newfile.NewClayConfigFileWizard" 
         icon="images/xstudio/wizards/clay-config.gif" 
         id="org.jboss.tools.shale.ui.wizard.newfile.NewClayConfigFileWizard" 
         name="Clay Config 1.0" 
         project="false">
         <selection class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>

   <extension id="e" name="XML Editors" point="org.jboss.tools.common.model.ui.xmlEditor">
      <xmlEditor 
            class="org.jboss.tools.jst.web.ui.editors.WebCompoundEditor" 
            contributorClass="org.jboss.tools.common.model.ui.texteditors.MultiPageContributor" 
            entities="FileShaleDialog" 
            icon="images/xstudio/editors/dialog-config.gif" 
            name="%editors.shale-dialog.name">
      </xmlEditor>
      <xmlEditor 
            class="org.jboss.tools.shale.ui.clay.editor.ClayCompoundEditor" 
            contributorClass="org.jboss.tools.shale.ui.clay.editor.action.ClayMultiPageContributor" 
            entities="FileShaleClay" 
            icon="images/xstudio/editors/clay-config.gif" 
            name="%editors.shale-clay.name">
      </xmlEditor>
      <xmlEditor 
            class="org.jboss.tools.jst.web.ui.editors.WebCompoundEditor" 
            contributorClass="org.jboss.tools.common.model.ui.texteditors.MultiPageContributor" 
            entities="FileSpringBeans" 
            icon="images/xstudio/editors/xml_file.gif" 
            name="%editors.spring-beans.name">
      </xmlEditor>
   </extension>
   <!--extension point="org.eclipse.ui.newWizards">
      <category id="org.jboss.tools.jsf" name="JSF" parentCategory="org.jboss.tools.jst.web">
      </category>
      <wizard category="org.jboss.tools.jst.web/org.jboss.tools.jsf" class="org.jboss.tools.jsf.ui.wizard.newfile.NewFacesConfigFileWizard" icon="images/xstudio/wizards/jsf-config.gif" id="org.jboss.tools.jsf.ui.wizard.newfile.NewFacesConfigFileWizard" name="Faces Config 1.0" project="false">
         <selection class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard category="org.jboss.tools.jst.web/org.jboss.tools.jsf" class="org.jboss.tools.jsf.ui.wizard.newfile.NewFacesConfig11FileWizard" icon="images/xstudio/wizards/jsf-config.gif" id="org.jboss.tools.jsf.ui.wizard.newfile.NewFacesConfig11FileWizard" name="Faces Config 1.1" project="false">
         <selection class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard category="org.jboss.tools.jst.web/org.jboss.tools.jsf" class="org.jboss.tools.jsf.ui.wizard.project.NewProjectWizard" finalPerspective="org.jboss.tools.jst.web.ui.RedHat4WebPerspective" icon="images/xstudio/wizards/new_jsf_project.gif" id="org.jboss.tools.jsf.ui.wizard.project.NewProjectWizard" name="%newProjectWizard.name" project="true">
      </wizard>

   </extension-->

   <extension point="org.jboss.tools.common.model.ui.attributeAdapter">
      <attributeAdapter class="org.jboss.tools.shale.ui.attribute.adapter.ShaleStateListAdapter" id="ShaleStateList">
      </attributeAdapter>
      <attributeAdapter class="org.jboss.tools.shale.ui.attribute.adapter.ShaleDialogListAdapter" id="ShaleDialogList">
      </attributeAdapter>
      <attributeAdapter class="org.jboss.tools.shale.ui.attribute.adapter.ClayComponentListAdapter" id="ClayComponentList">
      </attributeAdapter>
      
   </extension>
   <extension point="org.jboss.tools.common.model.ui.attributeEditor">
      <attributeEditor class="org.jboss.tools.common.model.ui.attribute.editor.ComboBoxEditor" id="ShaleStateList">
      </attributeEditor>
      <attributeEditor class="org.jboss.tools.common.model.ui.attribute.editor.ComboBoxEditor" id="ShaleDialogList">
      </attributeEditor>
      <attributeEditor class="org.jboss.tools.common.model.ui.attribute.editor.ComboBoxEditor" id="ClayComponentList">
      </attributeEditor>
   </extension>

   <extension
         point="org.jboss.tools.common.model.resourceMapping">
      <mapping
          loader="org.jboss.tools.shale.ui"
          priority="1"
          kind="class"
          paths=".jboss.tools.shale."
      />
   </extension>

   <extension point="org.jboss.tools.common.model.classes">
		<xclass id="org.jboss.tools.shale.ui.clay.editor.ClayEditorMessages"
			class="org.jboss.tools.shale.ui.clay.editor.ClayEditorMessages"/>
		<xclass id="org.jboss.tools.shale.ui.clay.form.ShaleClayFormLayoutData"
			class="org.jboss.tools.shale.ui.clay.form.ShaleClayFormLayoutData"/>
		<xclass id="org.jboss.tools.shale.ui.dialog.form.ShaleDialogFormLayoutData"
			class="org.jboss.tools.shale.ui.dialog.form.ShaleDialogFormLayoutData"/>
		<xclass id="org.jboss.tools.shale.ui.spring.form.SpringFormLayoutData"
			class="org.jboss.tools.shale.ui.spring.form.SpringFormLayoutData"/>
   </extension>

</plugin>